@charset "UTF-8";
/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: SFHC
	Description: Custom blocks stylesheet. Block Editor Preview and Front End styles for blocks.
	Version: 1.4.5
	Text Domain: sfhc
*/
.has-purple-color {
  color: #382D6A;
}

.has-purple-background-color {
  background-color: #FFF !important;
}

.has-grey-color {
  color: #454545;
}

.has-grey-background-color {
  background-color: #FFF !important;
}

.has-teal-color {
  color: #32926A;
}

.has-teal-background-color {
  background-color: #FFF !important;
}

.editor-button-block, .editor-button-block__purple-border, .editor-button-block__purple-solid, .editor-button-block__teal-border, .editor-button-block__teal-solid {
  display: inline-block;
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.6rem 0.75rem;
  text-transform: uppercase;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}
.editor-button-block__purple-border {
  background-color: transparent;
  color: #382D6A;
  border: 1px solid #382D6A;
}
.editor-button-block__purple-border:hover {
  background-color: #382D6A;
  color: #FFF;
}
.editor-button-block__purple-solid {
  background-color: #382D6A;
  color: #FFF;
}
.editor-button-block__purple-solid:hover {
  background-color: #4C3F8A;
  color: #FFF;
}
.editor-button-block__teal-border {
  background-color: transparent;
  color: #32926A;
  border: 1px solid #32926A;
}
.editor-button-block__teal-border:hover {
  background-color: #32926A;
  color: #FFF;
}
.editor-button-block__teal-solid {
  background-color: #32926A;
  color: #FFF;
}
.editor-button-block__teal-solid:hover {
  background-color: #5AA787;
  color: #FFF;
}

.standard-dropdown-container {
  max-width: 63.25rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.standard-dropdown-container .dropdown-block-title {
  display: block;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #382D6A;
  color: #382D6A;
}
.standard-dropdown-container .dropdown-block-title:hover {
  cursor: pointer;
}
.standard-dropdown-container .dropdown-block-title:after {
  content: "";
  position: absolute;
  top: 1.2rem;
  margin-left: 2rem;
  font-size: 16px;
  font-weight: normal;
  font-family: FontAwesome;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
@media (min-width: 768px) {
  .standard-dropdown-container .dropdown-block-title:after {
    font-size: 18px;
  }
}
@media (min-width: 1023px) {
  .standard-dropdown-container .dropdown-block-title:after {
    top: 1.25rem;
    font-size: 22px;
  }
}
.standard-dropdown-container .chevron-rotate:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.timeline-block {
  max-width: 62.5rem;
  margin: 0 auto;
}
.timeline-block--even, .timeline-block--odd {
  position: relative;
  max-width: 50rem;
  margin-bottom: 2.5rem;
}
.timeline-block .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 49rem;
  width: 100%;
  padding: 1rem;
  background-color: #F2F2FA;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 650px) {
  .timeline-block .content-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 930px) {
  .timeline-block .content-box {
    padding: 2.5rem;
  }
}
.timeline-block .content-box > div {
  max-width: 23rem;
}
.timeline-block .content-box > div p {
  margin-bottom: 0;
}
.timeline-block .content-box img {
  min-width: 16rem;
  max-width: 18rem;
  -webkit-box-shadow: 0 20px 20px -10px #BBB6D4;
          box-shadow: 0 20px 20px -10px #BBB6D4;
}
@media (min-width: 930px) {
  .timeline-block .content-box img {
    max-width: 23rem;
  }
}
.timeline-block--odd {
  margin-left: 0;
  margin-right: auto;
}
.timeline-block--odd .content-box img {
  margin-top: 2rem;
}
@media (min-width: 650px) {
  .timeline-block--odd .content-box img {
    margin-top: 0;
  }
}
@media (min-width: 58.125em) {
  .timeline-block--odd .content-box img {
    margin-left: unset;
    margin-right: -8rem;
  }
}
.timeline-block--even {
  margin-right: 0;
  margin-left: auto;
}
.timeline-block--even .content-box img {
  margin-bottom: 2rem;
}
@media (min-width: 650px) {
  .timeline-block--even .content-box img {
    margin-bottom: 0;
  }
}
@media (min-width: 58.125em) {
  .timeline-block--even .content-box img {
    margin-left: -8rem;
    margin-right: unset;
  }
}

.resources-grid {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  margin-bottom: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.resources-grid__post {
  position: relative;
  background-color: #F2F3EE;
  padding: 1.375rem 1rem;
  border-radius: 5px;
}
.resources-grid__post h4 {
  margin-bottom: 1.2rem;
  font-family: "mr-eaves-modern", sans-serif;
  color: #454545;
}
.resources-grid__post p {
  font-size: 1.125rem;
  min-height: 4rem;
  margin-bottom: 0;
}
.resources-grid__post p span {
  font-size: 1.5rem;
}
.resources-grid__post .plain-link {
  position: absolute;
  bottom: 0.75rem;
  font-size: 1.125rem;
}