@charset "UTF-8";
/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: SFHC
	Description: Custom theme for Salina Family Healthcare Center.
	Version: 1.6.2
	Text Domain: sfhc
*/
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  line-height: 1.3;
  overflow-x: hidden;
}

.lock-body {
  overflow-y: hidden;
}

::-webkit-input-placeholder {
  color: #454545;
  opacity: 1;
  font-size: 1.125rem;
}

::-moz-placeholder {
  color: #454545;
  opacity: 1;
  font-size: 1.125rem;
}

:-ms-input-placeholder {
  color: #454545;
  opacity: 1;
  font-size: 1.125rem;
}

::-ms-input-placeholder {
  color: #454545;
  opacity: 1;
  font-size: 1.125rem;
}

::placeholder {
  color: #454545;
  opacity: 1;
  font-size: 1.125rem;
}

img {
  max-width: 100%;
  height: auto;
}

span.facetwp-counter {
  display: none !important;
}

a, p, span, address, blockquote {
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.125rem;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
a:hover {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #454545;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin-bottom: 1.5rem;
  }
}

small {
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 0.875rem;
  font-style: italic;
  color: #382D6A;
}

time {
  display: block;
  padding-top: 0.75rem;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 0.875rem;
  color: #454545;
}

ul, ol {
  margin-bottom: 2rem;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 1.125rem;
  color: #454545;
}
ul li, ol li {
  padding-bottom: 0.625rem;
}

.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "questa-slab", serif;
  font-weight: bold;
  color: #382D6A;
  line-height: 1.3;
}
.h1-heading.has-text-align-center,
.h2-heading.has-text-align-center,
.h3-heading.has-text-align-center,
.h4-heading.has-text-align-center,
.h5-heading.has-text-align-center,
.h6-heading.has-text-align-center,
h1.has-text-align-center, h2.has-text-align-center, h3.has-text-align-center,
h4.has-text-align-center, h5.has-text-align-center, h6.has-text-align-center {
  margin-bottom: 1.75rem;
}

h1, .h1-heading {
  font-size: 2rem;
  font-style: italic;
}
@media (min-width: 480px) {
  h1, .h1-heading {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  h1, .h1-heading {
    font-size: 2.75rem;
  }
}
@media (min-width: 1023px) {
  h1, .h1-heading {
    font-size: 3.75rem;
  }
}

h2, .h2-heading {
  font-size: 2rem;
}
@media (min-width: 480px) {
  h2, .h2-heading {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  h2, .h2-heading {
    font-size: 2.75rem;
  }
}

h3, .h3-heading {
  font-size: 1.5rem;
}
@media (min-width: 1023px) {
  h3, .h3-heading {
    font-size: 2.25rem;
  }
}

h4, .h4-heading {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  h4, .h4-heading {
    font-size: 1.3rem;
  }
}
@media (min-width: 1023px) {
  h4, .h4-heading {
    font-size: 1.5rem;
  }
}

h5, .h5-heading {
  font-size: 0.9375rem;
}
@media (min-width: 768px) {
  h5, .h5-heading {
    font-size: 1.125rem;
  }
}

h6, .h6-heading {
  font-size: 0.875rem;
}
@media (min-width: 480px) {
  h6, .h6-heading {
    font-size: 1rem;
  }
}

.primary-button, .primary-button--w, .primary-button--pb, .primary-button--alert {
  display: inline-block;
  padding: 0.9375rem 1rem 0.85rem;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
  line-height: 1;
  vertical-align: text-top;
}
.primary-button--w {
  background-color: #FFF;
  color: #382D6A;
}
.primary-button--w:hover {
  background-color: #62C19B;
  color: #FFF;
}
.primary-button--pb {
  background-color: transparent;
  color: #382D6A;
  border: 1px solid #382D6A;
  border-radius: 22px;
  font-weight: bold;
}
.primary-button--pb:hover {
  background-color: #382D6A;
  color: #FFF;
}
.primary-button--alert {
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  font-size: 1.125rem;
  border-radius: 27px;
  text-transform: unset;
}
.primary-button--alert:hover {
  background-color: #FFF;
  color: #AA1B1B;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.plain-mint-button {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: normal;
  text-transform: unset;
  color: #32926A;
}
.plain-mint-button:hover {
  -webkit-text-decoration: underline #62C19B;
          text-decoration: underline #62C19B;
}

.p-button, .p-button--border {
  display: inline-block;
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.6rem 0.75rem;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: #382D6A;
  color: #FFF;
}
.p-button:hover, .p-button--border:hover {
  background-color: #4C3F8A;
}
.p-button--border {
  background-color: transparent;
  border: 1px solid #382D6A;
  color: #382D6A;
  padding: 0.5rem 1rem;
}
.p-button--border:hover {
  background-color: #382D6A;
  color: #FFF;
}

.plain-back-button {
  display: block;
  margin: 0.25rem auto 1.75rem;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  color: #736EB2;
  -webkit-text-decoration: underline #736EB2;
          text-decoration: underline #736EB2;
}
@media (min-width: 768px) {
  .plain-back-button {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    text-align: left;
  }
}
.plain-back-button:hover {
  color: #382D6A;
  -webkit-text-decoration: underline #382D6A;
          text-decoration: underline #382D6A;
}
.plain-back-button .fas {
  font-size: 0.6rem;
  margin-right: 0.3rem;
}
@media (min-width: 768px) {
  .plain-back-button .fas {
    font-size: 0.8rem;
  }
}

.content-wrapper {
  max-width: 100%;
  margin: 0 auto;
}
.content-wrapper img {
  border-radius: 10px;
}

.default-container {
  background-color: transparent;
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
  z-index: 20;
}
.default-container p a:not(.plain-link), .default-container a:not(.plain-link) {
  color: #382D6A;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
}
.default-container p a:not(.plain-link):hover, .default-container a:not(.plain-link):hover {
  text-decoration: underline;
}

.plain-link {
  color: #32926A;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}
.plain-link:hover {
  text-decoration: underline;
}

a.read-more {
  display: none;
}

.post-template-wide {
  max-width: 77rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.post-template-wide h1 {
  max-width: 44rem;
  margin: 0 auto 2.5rem;
  text-align: center;
}
.post-template-wide h1:not(.default-title) {
  max-width: 23rem;
}
@media (min-width: 768px) {
  .post-template-wide h1:not(.default-title) {
    max-width: 43.875rem;
    margin: unset;
    text-align: left;
  }
}
.post-template-wide > .block-content {
  max-width: 62.5rem;
  margin: 0 auto;
}
.post-template-wide h2, .post-template-wide h3, .post-template-wide h4, .post-template-wide h5, .post-template-wide h6 {
  margin: 0 auto;
}
.post-template-wide p {
  margin: 0.3rem auto 1.8rem;
  font-size: 1.125rem;
}
.post-template-wide p a {
  color: #32926A;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}
.post-template-wide p a:hover {
  text-decoration: underline;
}
.post-template-wide ul, .post-template-wide ol {
  margin: -1rem auto 1.5rem;
}
.post-template-wide .wp-block-image {
  margin: 0 auto;
}
.post-template-wide .wp-block-image .alignleft {
  float: unset;
  margin-left: 0;
}
.post-template-wide .add-mtb {
  margin: 3.5rem auto;
}
.post-template-wide table tbody tr td strong {
  font-family: "questa-slab", serif;
  font-size: 1.25rem;
  color: #382D6A;
}
@media (min-width: 768px) {
  .post-template-wide table tbody tr td strong {
    font-size: 1.3rem;
  }
}
@media (min-width: 1023px) {
  .post-template-wide table tbody tr td strong {
    font-size: 1.5rem;
  }
}
.post-template-wide table tbody tr td a {
  color: #32926A;
}
.post-template-wide table tbody tr td a:hover {
  -webkit-text-decoration: underline #32926A;
          text-decoration: underline #32926A;
}

.post-template-wrapper, .post-template-wrapper__align-center {
  max-width: 64.5rem;
  padding: 0 1rem;
  margin: 0 auto;
}
.post-template-wrapper__align-right {
  max-width: 69rem;
  margin-right: 0;
  margin-left: auto;
}
.post-template-wrapper .resource-intro, .post-template-wrapper__align-center .resource-intro {
  max-width: 49.625rem;
}

.mb-bhi-open {
  color: #32926A;
}

.mb-bhi-closed {
  color: #949692;
}

.alert-banner {
  position: relative;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #AA1B1B;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.alert-banner__container {
  position: relative;
  max-width: 28.25rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 480px) {
  .alert-banner__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.alert-banner span, .alert-banner a {
  display: inline-block;
  color: #FFF;
}
.alert-banner span {
  font-weight: bold;
  font-size: 1.375rem;
  text-align: center;
}
@media (min-width: 480px) {
  .alert-banner span {
    text-align: left;
    margin-right: 1.5rem;
  }
}
.alert-banner a {
  border-color: #FFF;
  white-space: nowrap;
  font-size: 1.125rem;
  padding: 0.25rem 0.75rem;
  margin-top: 1rem;
}
@media (min-width: 480px) {
  .alert-banner a {
    margin-top: 0;
  }
}
.alert-banner a:hover {
  cursor: pointer;
  background-color: #FFF;
  color: #AA1B1B;
}

.clinic-hours {
  max-width: 100%;
  margin: 0 auto;
  background-color: #F2F3EE;
  padding: 0.5rem;
}
@media (min-width: 1023px) {
  .clinic-hours {
    padding: 1.25rem 1rem;
  }
}
.clinic-hours__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1023px) {
  .clinic-hours__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.clinic-hours__container .clinic-times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 47.75rem;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 1023px) {
  .clinic-hours__container .clinic-times {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.clinic-hours__container .clinic-times--time {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
@media (min-width: 1023px) {
  .clinic-hours__container .clinic-times--time {
    margin-right: 1rem;
    margin-left: 0;
  }
}
.clinic-hours__container .clinic-title, .clinic-hours__container .mb-bhi-open, .clinic-hours__container .mb-bhi-closed {
  font-size: 1.0625rem;
  font-weight: bold;
}
.clinic-hours__container .clinic-title {
  color: #454545;
}
.clinic-hours__container .clinic-title:hover {
  color: #32926A;
}
.clinic-hours__container .social-container {
  max-width: 14rem;
  margin-top: 1rem;
}
@media (min-width: 1023px) {
  .clinic-hours__container .social-container {
    margin-top: 0;
  }
}
.clinic-hours__container .social-container .social-link {
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: sub;
}
.clinic-hours__container .social-container .clinic-phone {
  display: inline-block;
  color: #382D6A;
  font-size: 1rem;
  font-weight: bold;
  font-family: "mr-eaves-modern", sans-serif;
  margin-left: 2rem;
}
.clinic-hours__container .social-container .clinic-phone:hover {
  -webkit-text-decoration: underline #382D6A;
          text-decoration: underline #382D6A;
}
.clinic-hours__container .social-container svg {
  width: 1rem;
  height: 1rem;
}
.clinic-hours__container .social-container svg path {
  fill: #949692 !important;
}

.nav-wrapper {
  position: relative;
  max-width: 100%;
  margin-top: 1.875rem;
  margin-bottom: 2.5rem;
}
.nav-wrapper .nav-container nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu-toggle {
  display: none;
}

.mobile-nav-top {
  display: none;
}

@media (min-width: 53.1875em) {
  .nav-container {
    max-width: 77rem;
    margin: 0 auto;
    padding: 1rem;
  }

  .logo-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 2.5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .logo-bar .logo img {
    display: block;
    width: 17.875rem;
    margin-right: 2rem;
  }

  .nav-menu {
    border-radius: 27px;
    -webkit-box-shadow: 0 3px 10px 0 rgba(208, 212, 205, 0.5);
            box-shadow: 0 3px 10px 0 rgba(208, 212, 205, 0.5);
  }
  .nav-menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .nav-menu .menu li {
    position: relative;
    background-color: transparent;
    padding: 0.4rem 0;
  }
  .nav-menu .menu li.current-menu-item a {
    border: 1px solid #62C19B;
    padding: 0.5rem 1.75rem;
    color: #32926A;
    border-radius: 27px;
  }
  .nav-menu .menu li:hover {
    cursor: pointer;
  }
  .nav-menu .menu li a {
    padding: 0.5rem 1.75rem;
    font-family: "mr-eaves-modern", sans-serif;
    font-size: 1.125rem;
    color: #454545;
    border: 1px solid transparent;
    border-radius: 27px;
  }
  .nav-menu .menu li a:hover {
    border-color: #62C19B;
  }
  .nav-menu .menu #menu-item-463, .nav-menu .menu #menu-item-464 {
    display: none;
  }
  .nav-menu .menu .menu-item-has-children {
    position: relative;
    z-index: 5;
  }
  .nav-menu .menu .menu-item-has-children:hover {
    background-color: #FFF;
    -webkit-transition: none;
    transition: none;
  }
  .nav-menu .menu .menu-item-has-children:hover > a {
    border-color: #62C19B;
  }
  .nav-menu .menu .menu-item-has-children:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0.2s ease-out;
    transition: visibility 0.2s ease-out;
  }
  .nav-menu .menu .menu-item-has-children > a {
    position: relative;
  }
  .nav-menu .menu .sub-menu {
    position: absolute;
    top: 3.1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 14rem;
    margin-bottom: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
    background-color: #FFF;
    border-radius: 27px;
    -webkit-box-shadow: 0 0 10px 0 #D0D4CD;
            box-shadow: 0 0 10px 0 #D0D4CD;
  }
  .nav-menu .menu .sub-menu li {
    border: unset;
    padding: unset;
    margin: 0.5rem auto;
  }
  .nav-menu .menu .sub-menu li.current-menu-item > a {
    color: #32926A;
    -webkit-text-decoration: underline #32926A;
            text-decoration: underline #32926A;
  }
  .nav-menu .menu .sub-menu li a {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: normal;
    font-size: 1.125rem;
    color: #454545;
    text-transform: none;
    border: none;
    -webkit-transition: none;
    transition: none;
  }
  .nav-menu .menu .sub-menu li a:hover {
    -webkit-text-decoration: underline #32926A;
            text-decoration: underline #32926A;
    color: #32926A;
    -webkit-transition: none;
    transition: none;
    border: none;
  }
  .nav-menu .menu .sub-menu:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -0.75rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 27px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #FFF;
  }
  .nav-menu .menu .sub-menu li .sub-menu {
    position: relative;
    top: 1.5rem;
    left: 1rem;
    border: unset;
    width: 100%;
  }
  .nav-menu .menu .sub-menu li .sub-menu:before {
    content: "—";
    position: absolute;
    left: 1rem;
    top: 0.35rem;
    color: #32926A;
  }
  .nav-menu .menu .sub-menu li .sub-menu li {
    margin-bottom: unset;
  }
}
@media (max-width: 53.125em) {
  .nav-wrapper {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .logo {
    display: none;
  }

  .mobile-nav-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 1rem;
  }
  .mobile-nav-top .mobile-logo {
    max-width: 12.125rem;
  }

  .logo-bar {
    display: none;
  }

  #menu-toggle {
    display: block;
  }
  #menu-toggle:hover {
    cursor: pointer;
  }
  #menu-toggle .x-bar {
    display: block;
    height: 2px;
    margin-bottom: 6px;
    background-color: #382D6A;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    border-radius: 2px;
    margin-right: 0;
    margin-left: auto;
  }
  #menu-toggle .x-bar:nth-child(3n+1) {
    width: 1.8rem;
  }
  #menu-toggle .x-bar:nth-child(3n+2) {
    width: 1.4rem;
  }
  #menu-toggle .x-bar:nth-child(3n+3) {
    width: 1rem;
  }
  #menu-toggle .x-bar.x-bar-active {
    width: 1.6rem;
  }
  #menu-toggle .x-bar-active {
    position: relative;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    margin-bottom: 0;
    height: 2px;
  }
  #menu-toggle .x-bar-active:nth-child(3n+1) {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu-toggle .x-bar-active:nth-child(3n+2) {
    opacity: 0;
  }
  #menu-toggle .x-bar-active:nth-child(3n+3) {
    bottom: 4px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: 0;
  }

  .nav-menu {
    padding: 0 1rem;
  }

  #primary-menu {
    display: none;
    width: 100%;
    top: 0;
    margin: 0 auto;
    padding-top: 1.5rem;
    overflow: hidden;
    border-top: 2px solid #382D6A;
  }
  #primary-menu #menu-item-463, #primary-menu #menu-item-464 {
    display: inline-block;
    text-align: center;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #382D6A;
    color: #382D6A;
  }
  #primary-menu #menu-item-463:hover, #primary-menu #menu-item-464:hover {
    background-color: #382D6A;
    color: #FFF;
  }
  #primary-menu li {
    margin-bottom: 2rem;
    margin-left: 2.25rem;
  }
  #primary-menu a {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: bold;
    color: #454545;
    font-size: 1rem;
    text-transform: uppercase;
  }
  #primary-menu .menu-item-has-children a {
    position: relative;
    color: #454545;
  }
  #primary-menu .menu-item-has-children > li {
    margin-top: 0.75rem;
  }
  #primary-menu .menu-item-has-children .sub-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 1rem;
    left: 100%;
    margin-top: 4rem;
    width: 100%;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    z-index: -1;
    margin-left: 0;
  }
  #primary-menu .menu-item-has-children .sub-menu li .sub-menu li {
    position: absolute;
    top: 0.1rem;
    left: 0;
    -webkit-transition: unset;
    transition: unset;
  }
  #primary-menu .menu-item-has-children .sub-menu-open {
    position: absolute;
    top: 1rem;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 25;
    background-color: #FFF;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li {
    margin-left: 3.25rem;
    margin-bottom: 1.675rem;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li:first-of-type {
    margin-left: 1rem;
    font-style: normal;
    font-size: 1rem;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li a {
    text-transform: unset;
    font-family: "mr-eaves-modern", sans-serif;
    font-size: 1rem;
    font-weight: normal;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li .sub-menu-open {
    position: relative;
    top: 0.1rem;
    background: unset;
    margin: unset;
    padding: unset;
    overflow: unset;
    -webkit-transition: unset;
    transition: unset;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li .sub-menu-open:before {
    content: "—";
    position: absolute;
    left: 0;
    top: -0.15rem;
    color: #454545;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li .sub-menu-open li {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-top: 0;
    margin-left: 1.5rem;
    padding-bottom: 0.25rem;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li .sub-menu-open li:first-of-type {
    display: none;
  }
  #primary-menu .menu-item-has-children #mobile-back-button {
    background: unset;
    border: unset;
    width: 23.45rem;
    padding: 0.75rem 0;
    border-bottom: 2px solid #382D6A;
    text-align: left;
    color: #382D6A;
    font-family: "mr-eaves-modern", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  #primary-menu .menu-item-has-children #mobile-back-button .fas {
    margin-right: 0.5rem;
    vertical-align: baseline;
    font-size: 0.9rem;
  }
}
.header-wrapper {
  position: relative;
  max-width: 77rem;
  margin: 0 auto;
  padding: 1rem;
}

.above-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 77rem;
  margin: 0 auto;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.above-footer__logo {
  display: block;
  max-width: 10rem;
}
.above-footer__brand {
  display: block;
  max-width: 4.875rem;
}

footer {
  max-width: 77rem;
  margin: 0 auto;
  padding: 0 1rem;
}
footer .clinic-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding: 1.625rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #D0D4CD;
  border-bottom: 1px solid #D0D4CD;
}
@media (min-width: 800px) {
  footer .clinic-information {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
footer .clinic-information .divider {
  display: none;
  width: 1px;
  height: 3.75rem;
  margin: 0 1.5rem;
  background-color: #D0D4CD;
}
@media (min-width: 800px) {
  footer .clinic-information .divider {
    display: block;
  }
}
footer .address {
  max-width: 15.5rem;
  width: 100%;
}
footer .address h6 {
  font-size: 1rem;
  font-family: "mr-eaves-modern", sans-serif;
  color: #454545;
}
footer .address address, footer .address a {
  color: #454545;
  font-size: 0.875rem;
}
footer .address a:hover {
  text-decoration: underline;
}
footer .clinic-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 20rem;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 470px) {
  footer .clinic-numbers {
    max-width: 30rem;
  }
}
@media (min-width: 550px) {
  footer .clinic-numbers {
    max-width: 45rem;
  }
}
footer .clinic-numbers__content {
  margin: 1.5rem 1rem 0;
}
@media (min-width: 470px) {
  footer .clinic-numbers__content {
    margin: 0;
  }
}
footer .clinic-numbers__content:nth-of-type(4n+1) {
  margin-top: 0;
}
footer .clinic-numbers__content:nth-of-type(4n+2) {
  margin-top: 0;
}
footer .clinic-numbers__content p {
  max-width: 9.25rem;
  margin-bottom: 0;
  font-weight: bold;
}
footer .clinic-numbers__content a {
  font-size: 0.875rem;
  color: #454545;
}
footer .clinic-numbers__content a:hover {
  text-decoration: underline;
}
footer .clinic-numbers__content:last-of-type {
  margin-left: 0;
  margin-right: 1.7rem;
}
@media (min-width: 470px) {
  footer .clinic-numbers__content:last-of-type {
    margin-left: 1rem;
  }
}
footer .external-links {
  margin-top: 1.5rem;
}
@media (min-width: 800px) {
  footer .external-links {
    margin-top: 0;
  }
}
footer .external-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .external-links ul li {
  padding: 0;
  margin: 0;
}
footer .external-links #footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .external-links #footer-menu li a {
  color: #454545;
  font-size: 0.875rem;
}
footer .external-links #footer-menu li a:hover {
  text-decoration: underline;
}
footer .attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.875rem 0;
}
@media (min-width: 680px) {
  footer .attribution {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
footer .attribution a, footer .attribution span {
  font-size: 0.9375rem;
  color: #454545;
  text-align: center;
}
@media (min-width: 680px) {
  footer .attribution a, footer .attribution span {
    text-align: left;
  }
}
footer .attribution span {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 680px) {
  footer .attribution span {
    margin-top: 0;
    margin-bottom: 0;
  }
}
footer .attribution a:hover {
  text-decoration: underline;
}
footer .attribution img {
  display: inline-block;
  max-width: 1.25rem;
}

.home-template {
  max-width: 77rem;
  margin: 0 auto 3.5rem;
  padding: 1rem;
}

.grey-bar {
  max-width: 100%;
  margin: 0 auto 3rem;
  padding: 1rem;
  background-color: #F2F2FA;
  border-radius: 5px;
}
@media (min-width: 520px) {
  .grey-bar {
    margin: 0 auto 5rem;
  }
}
.grey-bar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 52rem;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 520px) {
  .grey-bar__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.grey-bar .text-content {
  max-width: 15rem;
}
@media (min-width: 520px) {
  .grey-bar .text-content {
    max-width: 26rem;
  }
}
.grey-bar .text-content h3 {
  font-style: italic;
}
.grey-bar img {
  display: none;
  margin-top: -2rem;
  margin-bottom: -2rem;
  margin-right: 2rem;
  max-width: 16.5rem;
  width: 100%;
}
@media (min-width: 520px) {
  .grey-bar img {
    display: block;
  }
}

.resources-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 62.5rem;
  margin: 1rem auto 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 430px) {
  .resources-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 520px) {
  .resources-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.resources-container__resource {
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  color: #382D6A;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
}
@media (min-width: 520px) {
  .resources-container__resource {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
.resources-container__resource:hover {
  -webkit-text-decoration: underline #382D6A;
          text-decoration: underline #382D6A;
}
.resources-container .icon-heart {
  display: block;
  padding-bottom: 0.5rem;
  margin-top: 2.5rem;
}
@media (min-width: 520px) {
  .resources-container .icon-heart {
    margin-top: 0;
  }
}

.recent-journals {
  display: -ms-grid;
  display: grid;
  margin: 1rem auto;
  max-width: 62.5rem;
  -ms-grid-columns: minmax(20rem, 30.5rem);
  grid-template-columns: repeat(1, minmax(20rem, 30.5rem));
  row-gap: 1.25rem;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 690px) {
  .recent-journals {
    -ms-grid-columns: (minmax(20rem, 30.5rem))[2];
    grid-template-columns: repeat(2, minmax(20rem, 30.5rem));
  }
}
@media (min-width: 900px) {
  .recent-journals {
    margin: 5rem auto 12rem;
  }
}
.recent-journals .one-row-journal, .recent-journals .two-row-journal {
  padding: 1.375rem;
  background-color: #F2F2FA;
  border-radius: 5px;
}
.recent-journals .two-row-journal {
  text-align: center;
}
@media (min-width: 690px) {
  .recent-journals .two-row-journal {
    -ms-grid-row: span 2;
        grid-row-start: span 2;
  }
}
.recent-journals .two-row-journal img {
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 8px -10px #D0D4CD;
          box-shadow: 0 20px 8px -10px #D0D4CD;
  margin-bottom: 1.5rem;
}
.recent-journals .two-row-journal h3 {
  margin-bottom: 1.5rem;
}
@media (min-width: 690px) {
  .recent-journals .one-row-journal {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 0;
    grid-column-end: 2;
  }
}
.recent-journals .one-row-journal p {
  max-width: 26rem;
}

.app-bar {
  max-width: 62.5rem;
  margin: 0 auto 5rem;
  background-color: #F2F2FA;
  border-radius: 5px;
  padding: 1rem;
}
@media (min-width: 900px) {
  .app-bar {
    margin: 12rem auto;
    padding: 5rem 4.5rem;
  }
}
.app-bar__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 51.25rem;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* styles broken out below belong to [.app-bar__wrapper > .download]
     broken out to avoid deep nesting
  */
}
@media (min-width: 900px) {
  .app-bar__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.app-bar__wrapper .download {
  max-width: 25rem;
}
.app-bar__wrapper .store-icon:first-of-type {
  margin-right: 0.5rem;
}
@media (min-width: 900px) {
  .app-bar__wrapper .store-icon:first-of-type {
    margin-right: 1.25rem;
  }
}
.app-bar__wrapper h3 {
  margin-bottom: 2.5rem;
  font-size: 1.85rem;
}
@media (min-width: 768px) {
  .app-bar__wrapper h3 {
    font-size: 2.25rem;
  }
}
.app-bar__wrapper a svg {
  border-radius: 7px;
  max-width: 9rem;
}
@media (min-width: 900px) {
  .app-bar__wrapper a svg {
    max-width: 100%;
  }
}
.app-bar__wrapper img {
  display: none;
  position: absolute;
  right: 0;
  max-width: 16.75rem;
}
@media (min-width: 900px) {
  .app-bar__wrapper img {
    display: block;
  }
}

.reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50rem;
  margin: 0 auto 3.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 810px) {
  .reviews-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.reviews-container .review-wrapper {
  max-width: 24rem;
}
.reviews-container .review-wrapper h3 {
  max-width: 17.5rem;
  margin-bottom: 1.75rem;
  font-size: 1.8rem;
  color: #454545;
}
@media (min-width: 480px) {
  .reviews-container .review-wrapper h3 {
    font-size: 2rem;
  }
}
@media (min-width: 810px) {
  .reviews-container .review-wrapper h3 {
    margin-bottom: 3.375rem;
  }
}
.reviews-container .review-wrapper .review-content {
  max-width: 100%;
  margin-bottom: 1.25rem;
  padding: 1.5rem;
  border-radius: 5px;
  background-color: #F2F2FA;
}
@media (min-width: 810px) {
  .reviews-container .review-wrapper .review-content {
    margin-bottom: 1.75rem;
  }
}
.reviews-container .review-wrapper .review-content p {
  font-size: 1.125rem;
  color: #454545;
}
.reviews-container .review-wrapper .review-content span {
  color: #382D6A;
  font-weight: bold;
}
.reviews-container .review-wrapper .review-content img {
  display: inline-block;
  max-width: 3.75rem;
  margin-right: 1rem;
  border-radius: 9px;
  vertical-align: middle;
}
.reviews-container .review-wrapper .p-button--border {
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .reviews-container .review-wrapper .p-button--border {
    margin-top: 0.5rem;
  }
}

.additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 48rem;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #F2F2FA;
  border-bottom: 1px solid #F2F2FA;
}
@media (min-width: 650px) {
  .additional-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.additional-info .text-content {
  max-width: 22.25rem;
  padding: 1.25rem 0;
}
@media (min-width: 40.625em) {
  .additional-info .text-content:last-of-type {
    margin-left: 1rem;
  }
}
.additional-info .text-content p {
  margin-bottom: 0;
  font-size: 1.125rem;
}
.additional-info .divider {
  display: none;
  width: 1px;
  height: 8.375rem;
  background-color: #F2F2FA;
}
@media (min-width: 650px) {
  .additional-info .divider {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.home-header {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .home-header {
    margin: unset;
  }
}
.home-header h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.home-header h1:not(.brushstroke) {
  font-weight: normal;
}
.home-header .brushstroke {
  font-weight: 900;
  background-image: url("static/images/brushstroke-bg.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 13rem;
}
@media (min-width: 480px) {
  .home-header .brushstroke {
    background-size: 14.5rem;
  }
}
@media (min-width: 768px) {
  .home-header .brushstroke {
    background-size: 18rem;
  }
}
@media (min-width: 1023px) {
  .home-header .brushstroke {
    background-size: 24rem;
  }
}

.service-listing {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 3rem auto 3.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1023px) {
  .service-listing {
    margin: 3rem auto 6.26rem;
  }
}
@media (min-width: 1200px) {
  .service-listing {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.service-listing__list {
  max-width: 30.375rem;
  width: 100%;
  margin-right: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.service-listing__list .list-container {
  max-width: 100%;
  width: 100%;
  padding: 0.75rem 0;
  border-bottom: 1px solid #D8D8D8;
}
.service-listing__list .list-container--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 26.75rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service-listing__list .listing-icon {
  display: block;
  max-width: 3.25rem;
  margin-right: 2.5rem;
}
.service-listing__list .listing-text {
  max-width: 20.875rem;
  width: 100%;
}
.service-listing__list .listing-text p {
  font-size: 1.4375rem;
  line-height: 1.1;
}
.service-listing img {
  max-width: 38.25rem;
}
.service-listing .right-image {
  display: none;
}
@media (min-width: 1023px) {
  .service-listing .right-image {
    display: block;
    margin-left: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .service-listing .right-image {
    margin-top: -4rem;
  }
}

.contact-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .contact-information {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.contact-information .social-information {
  max-width: 20rem;
  margin-top: 2.5rem;
}
@media (min-width: 768px) {
  .contact-information .social-information {
    margin-top: unset;
  }
}
.contact-information .social-information .light-bold {
  display: block;
  margin-bottom: 2.5rem;
  font-family: "mr-eaves-modern", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: #454545;
}
@media (min-width: 768px) {
  .contact-information .social-information .light-bold {
    display: inline-block;
    font-size: 1.5rem;
  }
}
.contact-information .social-information p {
  font-size: 1.125rem;
}
.contact-information .social-information .social-link {
  display: inline-block;
  margin-right: 1.75rem;
}
.contact-information .social-information .social-link svg {
  max-width: 1.625rem;
}
.contact-information .social-information .social-link svg path {
  fill: #4C3F8A !important;
}
.contact-information .social-information .social-link #linkedin {
  position: relative;
  top: -1.15rem;
}

.map-container {
  position: relative;
}

#map {
  position: relative;
  width: 20rem;
  height: 18rem;
}
@media (min-width: 480px) {
  #map {
    width: 30rem;
    height: 22rem;
  }
}
@media (min-width: 768px) {
  #map {
    margin-left: 1.5rem;
  }
}
@media (min-width: 1023px) {
  #map {
    width: 43.125rem;
    height: 32.125rem;
  }
}
#map canvas {
  border-radius: 10px;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  position: absolute;
  width: 4rem;
  top: 0;
  right: 0;
  padding: 1rem;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group button, .mapboxgl-ctrl.mapboxgl-ctrl-group [type=button], .mapboxgl-ctrl.mapboxgl-ctrl-group [type=reset], .mapboxgl-ctrl.mapboxgl-ctrl-group [type=submit] {
  -webkit-appearance: none;
  margin-bottom: 0.5rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background-color: #454545;
  color: #FFF;
  border: unset;
  border-radius: 5px;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-compass {
  display: none;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-in:before {
  content: "+";
  position: relative;
  font-weight: bold;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-in:hover {
  cursor: pointer;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-out:before {
  content: "-";
  position: relative;
  font-weight: bold;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-out:hover {
  cursor: pointer;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.journal-grid {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  margin-bottom: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.journal-grid__post {
  position: relative;
  background-color: #F2F3EE;
  padding: 1.375rem 1rem;
  border-radius: 5px;
}
.journal-grid__post h4 {
  margin-bottom: 0;
  font-family: "mr-eaves-modern", sans-serif;
  color: #454545;
}
.journal-grid__post p {
  font-size: 1.125rem;
  min-height: 5.125rem;
  margin-bottom: 0;
}
.journal-grid__post p span {
  font-size: 1.5rem;
}
.journal-grid__post .plain-link {
  position: absolute;
  bottom: 0.75rem;
  font-size: 1.125rem;
}

.post-template-wrapper .facetwp-facet, .post-template-wrapper__align-center .facetwp-facet, .post-template-wide .facetwp-facet {
  margin-bottom: unset;
}
.post-template-wrapper .global-facet-wrap, .post-template-wrapper__align-center .global-facet-wrap, .post-template-wide .global-facet-wrap {
  max-width: 100%;
  margin: 2.5rem auto 3.75rem;
  background-color: #F2F2FA;
  padding: 1.5rem 1rem;
  border-radius: 9px;
  text-align: center;
}
@media (min-width: 689px) {
  .post-template-wrapper .global-facet-wrap, .post-template-wrapper__align-center .global-facet-wrap, .post-template-wide .global-facet-wrap {
    text-align: left;
    padding: 2.5rem 1rem;
  }
}
.post-template-wrapper .no-center, .post-template-wrapper__align-center .no-center, .post-template-wide .no-center {
  text-align: left;
}
.post-template-wrapper .reduce-pad, .post-template-wrapper__align-center .reduce-pad, .post-template-wide .reduce-pad {
  padding: 1rem;
}
.post-template-wrapper .facetwp-type-dropdown, .post-template-wrapper__align-center .facetwp-type-dropdown, .post-template-wide .facetwp-type-dropdown {
  display: inline-block;
  position: relative;
  max-width: 17.75rem;
  width: 100%;
  margin-bottom: 0;
}
@media (min-width: 689px) {
  .post-template-wrapper .facetwp-type-dropdown:first-of-type, .post-template-wrapper__align-center .facetwp-type-dropdown:first-of-type, .post-template-wide .facetwp-type-dropdown:first-of-type {
    margin-right: 1.875rem;
    margin-left: 1.4rem;
  }
}
.post-template-wrapper .facetwp-type-dropdown:after, .post-template-wrapper__align-center .facetwp-type-dropdown:after, .post-template-wide .facetwp-type-dropdown:after {
  content: "";
  font-family: FontAwesome;
  font-size: 0.9rem;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #4C3F8A;
}
.post-template-wrapper .facetwp-facet-journal_facet, .post-template-wrapper__align-center .facetwp-facet-journal_facet, .post-template-wide .facetwp-facet-journal_facet {
  margin-bottom: 2rem;
}
@media (min-width: 689px) {
  .post-template-wrapper .facetwp-facet-journal_facet, .post-template-wrapper__align-center .facetwp-facet-journal_facet, .post-template-wide .facetwp-facet-journal_facet {
    margin-bottom: 0;
  }
}
.post-template-wrapper .facetwp-type-checkboxes .facetwp-checkbox, .post-template-wrapper__align-center .facetwp-type-checkboxes .facetwp-checkbox, .post-template-wide .facetwp-type-checkboxes .facetwp-checkbox {
  font-size: 1.125rem;
  color: #454545;
  border-radius: 2px;
  background-color: transparent;
}
.post-template-wrapper .facetwp-type-checkboxes .facetwp-checkbox.checked, .post-template-wrapper__align-center .facetwp-type-checkboxes .facetwp-checkbox.checked, .post-template-wide .facetwp-type-checkboxes .facetwp-checkbox.checked {
  background: transparent;
  position: relative;
}
.post-template-wrapper .facetwp-type-checkboxes .facetwp-checkbox.checked:before, .post-template-wrapper__align-center .facetwp-type-checkboxes .facetwp-checkbox.checked:before, .post-template-wide .facetwp-type-checkboxes .facetwp-checkbox.checked:before {
  position: absolute;
  content: "";
  font-family: FontAwesome;
  font-size: 1rem;
  font-weight: 300;
  left: 0;
  color: #4C3F8A;
}
.post-template-wrapper select, .post-template-wrapper__align-center select, .post-template-wrapper option, .post-template-wrapper__align-center option, .post-template-wide select, .post-template-wide option {
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 1.125rem !important;
  color: #454545;
}
.post-template-wrapper select, .post-template-wrapper__align-center select, .post-template-wide select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  padding: 0.625rem;
  border: 1px solid #979797;
  border-radius: 5px;
  background: transparent;
  z-index: 2;
  line-height: 1.5;
}
.post-template-wrapper select:hover, .post-template-wrapper__align-center select:hover, .post-template-wide select:hover {
  cursor: pointer;
}
.post-template-wrapper .facetwp-type-search, .post-template-wrapper__align-center .facetwp-type-search, .post-template-wide .facetwp-type-search {
  position: relative;
  display: inline-block;
  max-width: 17.75rem;
  width: 100%;
  margin-right: 0;
  margin-bottom: 1.5rem;
}
@media (min-width: 636px) {
  .post-template-wrapper .facetwp-type-search, .post-template-wrapper__align-center .facetwp-type-search, .post-template-wide .facetwp-type-search {
    margin-bottom: unset;
  }
}
@media (min-width: 660px) {
  .post-template-wrapper .facetwp-type-search, .post-template-wrapper__align-center .facetwp-type-search, .post-template-wide .facetwp-type-search {
    margin-right: 1.5rem;
  }
}
.post-template-wrapper .facetwp-type-search i, .post-template-wrapper__align-center .facetwp-type-search i, .post-template-wide .facetwp-type-search i {
  opacity: 1;
}
.post-template-wrapper .facetwp-type-search .facetwp-icon::before, .post-template-wrapper__align-center .facetwp-type-search .facetwp-icon::before, .post-template-wide .facetwp-type-search .facetwp-icon::before {
  width: unset;
  height: unset;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  font-family: FontAwesome;
  font-size: 1rem;
  font-style: normal;
  background: none;
  color: #382D6A;
}
.post-template-wrapper .facetwp-type-search .facetwp-search, .post-template-wrapper__align-center .facetwp-type-search .facetwp-search, .post-template-wide .facetwp-type-search .facetwp-search {
  width: 17.75rem;
  padding: 0.8rem;
  border: 1px solid #979797;
  border-radius: 5px;
  background: none;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 1.125rem !important;
  color: #454545;
}
.post-template-wrapper .facetwp-type-pager, .post-template-wrapper__align-center .facetwp-type-pager, .post-template-wide .facetwp-type-pager {
  margin: 0 auto;
  text-align: center;
  max-width: 15rem;
}
.post-template-wrapper .facetwp-type-pager a, .post-template-wrapper__align-center .facetwp-type-pager a, .post-template-wide .facetwp-type-pager a {
  display: inline-block;
  width: 0.75rem;
  padding: 0.25rem 0.25rem 0;
  color: #454545;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.post-template-wrapper .facetwp-type-pager a.active, .post-template-wrapper__align-center .facetwp-type-pager a.active, .post-template-wide .facetwp-type-pager a.active {
  border-bottom: 2px solid #4C3F8A;
  font-weight: normal;
}

.page-template-archive-directory .global-facet-wrap {
  margin-top: 5rem;
}
.page-template-archive-directory .facetwp-type-dropdown {
  width: 17.75rem;
}

.directory-facet-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 62.5rem;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 900px) {
  .directory-facet-group {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.directory-facet-group img {
  display: none;
  position: absolute;
  max-width: 14rem;
  top: -9.5rem;
  right: 0;
}
@media (min-width: 900px) {
  .directory-facet-group img {
    display: block;
  }
}
@media (min-width: 930px) {
  .directory-facet-group img {
    max-width: 16rem;
    top: -11.75rem;
  }
}

.directory-grid {
  display: -ms-grid;
  display: grid;
  max-width: 62.5rem;
  margin: 5rem auto;
  grid-template-columns: repeat(auto-fit, 13.875rem);
  -webkit-column-gap: 2.25rem;
     -moz-column-gap: 2.25rem;
          column-gap: 2.25rem;
  row-gap: 3.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.directory-grid img {
  display: block;
  border-radius: 50%;
}
.directory-grid .provider-name {
  display: block;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #454545;
}
.directory-grid span {
  display: block;
  text-align: center;
  font-size: 1.125rem;
  font-weight: normal;
  color: #949692;
}

.single-directory-wrapper {
  max-width: 52rem;
  padding: 0 1rem;
  margin: 0 auto 5rem;
}
.single-directory-wrapper .provider-name {
  display: none;
}
@media (min-width: 768px) {
  .single-directory-wrapper .provider-name {
    display: block;
  }
}
.single-directory-wrapper .provider-title, .single-directory-wrapper .provider-title-mobile {
  font-size: 1.125rem;
  color: #949692;
  margin-bottom: unset;
  padding-bottom: 1.875rem;
}
.single-directory-wrapper .provider-title:not(.provider-title-mobile), .single-directory-wrapper .provider-title-mobile:not(.provider-title-mobile) {
  display: none;
}
@media (min-width: 768px) {
  .single-directory-wrapper .provider-title:not(.provider-title-mobile), .single-directory-wrapper .provider-title-mobile:not(.provider-title-mobile) {
    display: block;
  }
}
.single-directory-wrapper .mobile-title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .single-directory-wrapper .mobile-title-bar {
    display: none;
  }
}
.single-directory-wrapper .mobile-title-bar img {
  max-width: 6rem;
}
@media (min-width: 480px) {
  .single-directory-wrapper .mobile-title-bar img {
    max-width: 8rem;
  }
}
.single-directory-wrapper .bio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  padding: 1.875rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-top: 1px solid #979797;
}
.single-directory-wrapper .bio-content img {
  display: none;
  max-width: 11.375rem;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .single-directory-wrapper .bio-content img {
    display: block;
  }
}
.single-directory-wrapper .bio-content p {
  max-width: 34.5rem;
}

.post-bar {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  border-radius: 9px;
  background-color: #F2F2FA;
}
.post-bar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 37rem;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 540px) {
  .post-bar__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.post-bar__container .divider {
  display: none;
  height: 2.625rem;
  width: 1px;
  background-color: #382D6A;
}
@media (min-width: 540px) {
  .post-bar__container .divider {
    display: inline-block;
  }
}
.post-bar__container .phone, .post-bar__container .email {
  font-size: 1.125rem;
  color: #454545;
}
.post-bar__container .email {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
@media (min-width: 540px) {
  .post-bar__container .email {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.post-bar__container .fa {
  margin-right: 1rem;
  color: #4C3F8A;
  font-family: FontAwesome;
  vertical-align: text-bottom;
}

.clinic-template-default .post-template-wide h1.add-mb {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .clinic-template-default .post-template-wide h1.add-mb {
    margin-bottom: 3rem;
  }
}
.clinic-template-default .no-mb {
  margin-bottom: 0;
}
.clinic-template-default h2, .clinic-template-default h3, .clinic-template-default h4, .clinic-template-default h5, .clinic-template-default h6,
.clinic-template-default ul, .clinic-template-default ol, .clinic-template-default p, .clinic-template-default .wp-block-image {
  max-width: 62.5rem;
}

@media (max-width: 47.9375em) {
  .clinic-mobile-alert {
    display: block;
    max-width: 25rem;
    margin: 0 auto 2.5rem;
    padding: 0.75rem;
    border-radius: 10px;
    background-color: #AA1B1B;
    text-align: center;
  }
  .clinic-mobile-alert p, .clinic-mobile-alert .alert-link {
    display: block;
    color: #FFF;
  }
  .clinic-mobile-alert p {
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .clinic-mobile-alert .alert-link {
    font-size: 1rem;
    -webkit-text-decoration: underline #FFF;
            text-decoration: underline #FFF;
  }
}
@media (min-width: 48em) {
  .clinic-mobile-alert {
    display: none;
  }
}
.clinic-infobox {
  position: relative;
  max-width: 100%;
  margin: 0 auto 5rem;
  padding: 1.5rem 1.25rem;
  background-color: #F2F2FA;
  border-radius: 9px;
}
@media (min-width: 410px) {
  .clinic-infobox {
    padding: 1.5rem 2.25rem;
  }
}
@media (min-width: 768px) {
  .clinic-infobox {
    padding: 2.5rem 2.25rem;
  }
}
@media (min-width: 1142px) {
  .clinic-infobox {
    padding: 2.5rem 6.25rem;
  }
}
@media (max-width: 47.9375em) {
  .clinic-infobox__alert {
    display: none;
  }
}
@media (min-width: 48em) {
  .clinic-infobox__alert {
    display: block;
    position: absolute;
    top: -1.5rem;
    left: 4rem;
    max-width: 40rem;
    padding: 0.5rem 1rem;
    background-color: #AA1B1B;
    border-radius: 10px;
  }
  .clinic-infobox__alert p, .clinic-infobox__alert .alert-link {
    display: inline-block;
    color: #FFF;
  }
  .clinic-infobox__alert p {
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 2rem;
  }
  .clinic-infobox__alert a.alert-link {
    font-size: 1rem;
  }
  .clinic-infobox__alert a.alert-link:hover {
    -webkit-text-decoration: underline #FFF;
            text-decoration: underline #FFF;
  }
}
.clinic-infobox__content .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60rem;
  margin: 0 auto 2rem;
  padding-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-bottom: 1px solid #382D6A;
}
@media (min-width: 768px) {
  .clinic-infobox__content .content-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.clinic-infobox__content .content-container h4 {
  font-family: "mr-eaves-modern", sans-serif;
  color: #454545;
}
.clinic-infobox__content .clinic-hour-list {
  max-width: 100%;
  width: 18.5rem;
  margin-right: 2rem;
}
.clinic-infobox__content .clinic-hour-list .open-close-msg {
  font-size: 1.125rem;
  margin-left: 0.75rem;
}
.clinic-infobox__content .clinic-hour-list .mb-bhi-oc-text {
  font-size: 1.125rem;
}
.clinic-infobox__content .clinic-hour-list .time-box {
  max-width: 100%;
  width: 17.5rem;
  margin-bottom: 0.25rem;
  padding: 0.15rem 0;
  border-bottom: 1px solid #E4E4E4;
}
.clinic-infobox__content .clinic-hour-list .time-box span:not(.divider) {
  display: inline-block;
  width: 6rem;
  margin-right: 0.5rem;
  font-size: 1.125rem;
  color: #454545;
}
.clinic-infobox__content .clinic-hour-list .time-box span:not(.divider):last-child {
  margin-right: 0;
}
.clinic-infobox__content .clinic-hour-list .time-box .divider {
  margin-right: 0.75rem;
  color: #E4E4E4;
}
.clinic-infobox__content .child-post-list {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .clinic-infobox__content .child-post-list {
    margin-top: 0;
  }
}
.clinic-infobox__content .child-post-list .child-post-grid {
  display: -ms-grid;
  display: grid;
  max-width: 25.75rem;
  grid-template-columns: repeat(auto-fill, 8rem);
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  margin: 0 auto;
}
@media (min-width: 410px) {
  .clinic-infobox__content .child-post-list .child-post-grid {
    margin: 0;
  }
}
@media (min-width: 600px) {
  .clinic-infobox__content .child-post-list .child-post-grid {
    max-width: 35.75rem;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .clinic-infobox__content .child-post-list .child-post-grid {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 11.125rem));
  }
}
@media (min-width: 1014px) {
  .clinic-infobox__content .child-post-list .child-post-grid {
    max-width: 36.75rem;
  }
}
.clinic-infobox__content .child-post-list .service-link-wrapper {
  border-bottom: 1px solid #E4E4E4;
}
.clinic-infobox__content .child-post-list .service-link-wrapper .service-link {
  display: block;
  width: 8rem;
  color: #454545;
  padding: 0.5rem 0;
}
.clinic-infobox__content .child-post-list .service-link-wrapper .service-link:hover {
  background-color: rgba(50, 146, 106, 0.1);
}
@media (min-width: 1023px) {
  .clinic-infobox__content .child-post-list .service-link-wrapper .service-link {
    width: 11.125rem;
  }
}
.clinic-infobox__content .closed-message {
  max-width: 60rem;
  margin: -2rem auto 2rem;
  padding: 1rem 0;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 1.125rem;
  color: #AA1B1B;
  border-bottom: 1px solid #382D6A;
}
.clinic-infobox__content .closed-message a {
  font-family: "mr-eaves-modern", sans-serif;
  color: #AA1B1B;
}
.clinic-infobox__content .closed-message a:hover {
  -webkit-text-decoration: underline #AA1B1B;
          text-decoration: underline #AA1B1B;
}
.clinic-infobox__content .help-buttons {
  text-align: center;
}
.clinic-infobox__content .help-buttons a:first-child {
  margin-bottom: 1.5rem;
}
.clinic-infobox__content .help-buttons a:nth-child(3) {
  margin-top: 1.5rem;
}
@media (min-width: 480px) {
  .clinic-infobox__content .help-buttons a:nth-child(3) {
    margin-top: 0;
  }
}
@media (min-width: 600px) {
  .clinic-infobox__content .help-buttons a:nth-child(3) {
    margin-top: 1.5rem;
  }
}
@media (min-width: 810px) {
  .clinic-infobox__content .help-buttons a:nth-child(3) {
    margin-top: 0;
  }
}
@media (min-width: 37.5em) {
  .clinic-infobox__content .help-buttons {
    text-align: left;
  }
  .clinic-infobox__content .help-buttons a:nth-child(1), .clinic-infobox__content .help-buttons a:nth-child(2) {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
}
.clinic-infobox .svg-right {
  display: none;
}
@media (min-width: 53.75em) {
  .clinic-infobox .svg-right {
    display: block;
    position: absolute;
    max-width: 7.625rem;
    top: 5rem;
    right: -3.875rem;
  }
}

.clinic-blocks {
  max-width: 62.5rem;
  margin: 5rem auto;
}
.clinic-blocks p {
  max-width: 100%;
}
@media (min-width: 768px) {
  .clinic-blocks p {
    max-width: 62.5rem;
  }
}

.clinic-directory {
  max-width: 100%;
  margin: 5rem auto;
  padding: 4rem 1rem;
  background-color: #F2F3EE;
}
.clinic-directory h3 {
  font-style: italic;
}
.clinic-directory__wrapper {
  max-width: 50rem;
  margin: 0 auto;
}
.clinic-directory .faculty-grid {
  display: -ms-grid;
  display: grid;
  max-width: 50rem;
  margin: 1.5rem auto 0;
  grid-template-columns: repeat(auto-fit, 8.625rem);
  -webkit-column-gap: 4.125rem;
     -moz-column-gap: 4.125rem;
          column-gap: 4.125rem;
  row-gap: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1023px) {
  .clinic-directory .faculty-grid {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.clinic-directory .faculty-grid img {
  display: block;
  max-width: 5rem;
  margin: 0 auto;
  border-radius: 50%;
}
.clinic-directory .faculty-grid .faculty-name {
  display: block;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  color: #454545;
}
.clinic-directory .faculty-grid span {
  display: block;
  text-align: center;
  font-size: 1.125rem;
  font-weight: normal;
  color: #949692;
}
.clinic-directory .physician-years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.clinic-directory .physician-years h4 {
  font-family: "mr-eaves-modern", sans-serif;
  color: #454545;
}
.clinic-directory .physician-years ul {
  width: 10rem;
  max-width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}
@media (min-width: 480px) {
  .clinic-directory .physician-years ul {
    margin: 0;
  }
}
.clinic-directory .physician-years ul li a {
  color: #454545;
  -webkit-text-decoration-color: #62C19B;
          text-decoration-color: #62C19B;
}
.clinic-directory .physician-years ul li a:hover {
  -webkit-text-decoration: #62C19B underline;
          text-decoration: #62C19B underline;
}
@media (min-width: 540px) {
  .clinic-directory .physician-years {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.clinic-directory .add-margin {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
@media (min-width: 540px) {
  .clinic-directory .add-margin {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */