{#
  * Block Name: Dropdown Block
  * Creates a block with a title and content.
  * All content will "fold" into the title and drop down when clicked.
#}

<section id="{{ block.id }}" class="standard-dropdown-container">
	<h4 class="dropdown-block-title set-border" role="button" aria-pressed="false">{{ fields.dropdown_title }}</h4>
	<div class="dropdown-content" role="region" aria-expanded="false">
		{{ fields.dropdown_content }}
	</div>
</section>