{#
  * Block Name: Purple Border Button
  * Creates a standard button utilizing the theme's color palette.
#}

<a class="editor-button-block__purple-border" href="{{ fields.button_link }}">{{ fields.button_text }}</a>