{#
  * Block Name: Purple Button (Filled)
  * Creates a standard button utilizing the theme's color palette.
#}

<a class="editor-button-block__purple-solid" href="{{ fields.button_link }}">{{ fields.button_text }}</a>