{#
  * Block Name: Teal Button (Filled)
  * Creates a standard button utilizing the theme's color palette.
#}

<a class="editor-button-block__teal-solid" href="{{ fields.button_link }}">{{ fields.button_text }}</a>