{#
  * Block Name: Teal Border Button
  * Creates a standard button utilizing the theme's color palette.
#}

<a class="editor-button-block__teal-border" href="{{ fields.button_link }}">{{ fields.button_text }}</a>