{#
  * Block Name: Timeline Block
  * Creates a repeater for making a timeline. Images follow evenodd rules for switching left and right.
#}

<section class="timeline-block">
	{% for tl in fields.timeline %}
		{% if loop.index is odd %}
			<div class="timeline-block--odd">
				<div class="content-box">
					<div>
						<h3>{{ tl.timeline_year }}</h3>
						<p>{{ tl.timeline_text_content }}</p>
					</div>
					<img src="{{ TimberImage( tl.timeline_image ).src }}" alt="{{ TimberImage( tl.timeline_image ).alt }}" />
				</div>
			</div>
		{% else %} {# even - count starts at 1 #}
			<div class="timeline-block--even">
				<div class="content-box">
					<img src="{{ TimberImage( tl.timeline_image ).src }}" alt="{{ TimberImage( tl.timeline_image ).alt }}" />
					<div>
						<h3>{{ tl.timeline_year }}</h3>
						<p>{{ tl.timeline_text_content }}</p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</section>