{% extends 'base.twig' %}

{% block content %}
<div class="post-template-wrapper">
	<h1>{{ post.title }}</h1>

	<div class="global-facet-wrap">
		{{ function('do_shortcode', '[facetwp facet="journal_facet"]') }}
		{{ function('do_shortcode', '[facetwp facet="audience_facet"]') }}
	</div>

	<section class="facetwp-template">
		<div class="journal-grid">
			{% for journal in journals %}
				<article class="journal-grid__post">
					<h4>{{ journal.title }}</h4>
					<p>{{ journal.get_field('author_name') }} <span>&middot;</span> {{ journal.post_date|date('m/d/Y') }}</p>
					<a class="plain-link" href="{{ journal.link }}">View Article</a>
				</article>
			{% endfor %}
		</div>
	</section>
</div>
{% endblock %}