{% extends 'base.twig' %}

{% block content %}
<div class="post-template-wide">
	<h1>{{ post.title }}</h1>

	<div class="global-facet-wrap">
		<div class="directory-facet-group">
			<div>
				{{ fn('do_shortcode', '[facetwp facet="provider_name_search_facet"]') }}
				{{ fn('do_shortcode', '[facetwp facet="provider_department_facet"]') }}
			</div>
			<img src="{{ TimberImage(post.thumbnail.src).src }}" alt="{{ TimberImage(post.thumbnail.alt).alt }}" />
		</div>
	</div>

	<section class="facetwp-template">
		<div class="directory-grid">
			{% for provider in directory %}
				<a class="directory-grid__post" href="{{ provider.link }}" style="display: block;">
					<img src="{{ provider.thumbnail.src }}" alt="{{ provider.thumbnail.alt }}" />
					<span class="provider-name">{{ provider.title }}</span>
					<span>{{ provider.provider_title }}</span>
				</a>
			{% endfor %}
		</div>
	</section>
	{{ fn('do_shortcode', '[facetwp facet="directory_pager"]') }}
</div>
{% endblock %}