{% extends 'base.twig' %}

{% block content %}
<div class="post-template-wrapper">
	<h1>{{ post.title }}</h1>

	<p class="resource-intro">{{ post.page_intro }}</p>

	<div class="global-facet-wrap no-center reduce-pad">
		{{ function('do_shortcode', '[facetwp facet="language_facet"]') }}
	</div>

	{# Allows for website or pdf (w/lang) options displayed #}
	<section class="facetwp-template">
		<div class="resources-grid">
			{% for resource in resources %}
				<article class="resources-grid__post">
					<h4>{{ resource.title }}</h4>
					{# PDF - default option selected (true value) #}
					{% if resource.pdf_or_website %}
						<p>PDF <span>&middot;</span> {{ resource.terms('language')|join(', ') }}</p>
						<a class="plain-link" href="{{ resource.get_field('pdf_upload').url }}" target="_blank" rel="nofollow">View Document</a>
					{% else %} {# website - false value #}
						<p>Website</p>
						<a class="plain-link" href="{{ resource.website_url }}" target="_blank" rel="nofollow">View Website</a>
					{% endif %}
				</article>
			{% endfor %}
		</div>
	</section>
</div>
{% endblock %}