{% block html_head_container %}
	{% include 'html-header.twig' %}
	</head>
{% endblock %}

<body data-template="base.twig" class="{{ body_class }}">

	{# Special alert banner + toggle #}
	{% if is_front_page and options.toggle_alert_banner %}
		<div class="alert-banner" role="banner" title="Special Notice / Information">
			<div class="alert-banner__container">
				<span>{{ options.alert_text }}</span>
				{% if options.alert_link %}
					<a class="primary-button--alert" href="{{ options.alert_link }}">Learn More</a>
				{% endif %}
			</div>
		</div>
	{% endif %}

	{% include 'clinic-hours.twig' %}

	{% include 'navigation.twig' %}

	{% if is_front_page %}
		<header class="header-wrapper">
			{% block header %}
			{% endblock %}
		</header>
	{% endif %}

	<section class="content-wrapper">
		{% block content %}
		{% endblock %}
	</section>

	{% block full_width_block %}
	{% endblock %}

	<div class="above-footer">
		<a class="above-footer__logo" href="/" title="Salina Family Healthcare Center">
			<img src="{{ theme.link }}/static/images/sfhc-logo.png" alt="Salina Family Healthcare Center" />
		</a>

		<a class="above-footer__brand" href="https://www.ncqa.org" target="_blank" rel="noreferrer" title="NCQA Recognized Practice - Patient Centered Medical Home">
			<img src="{{ theme.link }}/static/images/ncqa-logo.png" alt="NCQA Recognized Practice, Patient-Centered Medical Home" />
		</a>
	</div>

	{% include 'footer.twig' %}

	{{ function('wp_footer') }}
	{% include 'external-scripts.twig' %}
</body>
</html>