{# This is the clinic child post template. Same styles, layout is switched up #}
{# moved out of box on mobile due to width constraints #}

{% if post.parent.service_alert %}
	<div class="clinic-mobile-alert">
		<p>{{ post.parent.service_alert_text }}</p>
		<a class="alert-link" href="{{ post.parent.service_alert_link }}">Learn More</a>
	</div>
{% endif %}

<section class="clinic-blocks" aria-label="About Our Clinic">
	{{ post.content }}
</section>

<section class="clinic-infobox" aria-label="Medical Clinic Information">
	{% if post.parent.service_alert %}
		<div class="clinic-infobox__alert">
			<p>{{ post.parent.service_alert_text }}</p>
			<a class="alert-link" href="{{ post.parent.service_alert_link }}">Learn More</a>
		</div>
	{% endif %}

	<div class="clinic-infobox__content">
		<div class="content-container"> {# FLEX CONTAINER #}
			<div class="clinic-hour-list">
				<h4>{{ post.parent.title }} Hours
					<span class="open-close-msg">{{ function('do_shortcode', '[mbhi location="' ~ post.parent.title ~ '" format="12" openmessage="Open Now" closedmessage="Closed Now"]') }}</span>
				</h4>
				{% for clinic_time in post.parent.get_field('clinic_hour_list') %}
					<div class="time-box">
						<span>{{ clinic_time.service_days }}</span>
						<span class="divider">|</span>
						<span>{{ clinic_time.service_hours }}</span>
					</div>
				{% endfor %}
			</div> {# /.clinic-hour-list #}
			<div class="child-post-list">
				<h4>How Our {{ post.parent.title }} Can Help You</h4>
				<div class="child-post-grid">
					{% for sibling in post.parent.get_children %}
						<div class="service-link-wrapper">
							<a class="service-link" href="{{ sibling.link }}">{{ sibling.title }}</a>
						</div>
					{% endfor %}
				</div>
			</div> {# /.child-post-list #}
		</div> {# /.content-container #}

		{% if child_is_closed %}
			<div class="closed-message">
				{{ post.parent.clinic_closed_message }}
			</div>
		{% endif %}

		<div class="help-buttons">
			<a class="p-button" href="tel:{{ post.parent.clinic_phone_number }}">Call {{ post.parent.clinic_phone_number }}</a>
			{% if post.parent.patient_portal_login %}
				<a class="p-button--border" href="{{ post.parent.patient_portal_login }}"
				target="_blank" rel="noreferrer">Login to your Patient Portal</a>
				<a class="p-button--border" href="{{ post.parent.link }}">Learn more about our {{ post.parent.title }}</a>
			{% endif %}
		</div>
		{# <div class="svg-right">
			{% include '/static/images/stethoscope.svg' %}
		</div> #}
	</div> {# /.clinic-infobox__content #}
</section> {# /.clinic-infobox #}