<section class="clinic-hours">
	<div class="clinic-hours__container">

		{# Business Hours Indicator Pro used for showing open/closed #}
		<div class="clinic-times">
			<div class="clinic-times--time">
				<a class="clinic-title" href="/medical-clinic">Medical Clinic | </a>
				{{ '[mbhi location="Medical Clinic" format="12" openmessage closedmessage]'|shortcodes }}
			</div>

			<div class="clinic-times--time">
				<a class="clinic-title" href="/dental-clinic">Dental Clinic | </a>
				{{ '[mbhi location="Dental Clinic" format="12" openmessage closedmessage]'|shortcodes }}
			</div>

			<div class="clinic-times--time">
				<a class="clinic-title" href="/behavioral-health-clinic">Behavioral Health Clinic | </a>
				{{ '[mbhi location="Behavioral Health Clinic" format="12" openmessage closedmessage]'|shortcodes }}
			</div>

			<div class="clinic-times--time">
				<a class="clinic-title" href="/pharmacy">Pharmacy | </a>
				{{ '[mbhi location="Pharmacy" format="12" openmessage closedmessage]'|shortcodes }}
			</div>
		</div>

		{# facebook / phone #}
		<div class="social-container">
			<a class="social-link" href="{{ options.facebook_link }}" target="_blank" rel="noopener nofollow">
				{% include '/static/icons/facebook-circle.svg' %}
			</a>
			<a class="clinic-phone" href="tel:{{ options.medical_clinic_number }}">{{ options.medical_clinic_number }}</a>
		</div>

	</div>
</section>