{% extends 'base.twig' %}

{% set gmap_link = 'https://www.google.com/maps/dir//Salina+Family+Healthcare+Center,+651+E+Prescott+Rd,+Salina,+KS+67401/@38.8282901,-97.6013405,17.75z/data=!4m8!4m7!1m0!1m5!1m1!1s0x87bcc5fcb242be29:0x99c511068a776143!2m2!1d-97.6006394!2d38.8282128' %}

{% block content %}
<div class="post-template-wide">
	<div class="post-template-wrapper__align-right">
		<h1>{{ post.title }}</h1>
		<section class="contact-information">
			<div class="social-information">
				<a class="light-bold" href="{{ gmap_link }}" target="_blank" rel="nofollow">{{ options.address }}</a>
				<a class="light-bold" href="tel:{{ options.phone_number }}">{{ options.phone_number }}</a>
				<p>{{ post.info_blurb }}</p>
				<a class="social-link" href="{{ options.facebook_link }}" target="_blank" rel="noopener nofollow">
					{% include '/static/icons/facebook-circle.svg' %}
				</a>
				<a class="social-link" href="{{ options.linkedin_link }}" target="_blank" rel="noopener nofollow" style="margin-top: -1.5rem;">
					{% include '/static/icons/linkedin-circle.svg' %}
				</a>
			</div>
			<div class="map-container">
				<div id="map"></div>
			</div>
		</section>
	</div>
</div>
{% endblock %}