{% set gmap = 'https://www.google.com/maps/dir//651+E+Prescott+Rd,+Salina,+KS+67401/@38.8283424,-97.6030214,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x87bcc5fcb2421db5:0x14214f51f714ec8f!2m2!1d-97.6008327!2d38.8283424!3e0' %}
<footer>
	<div class="clinic-information">
		<div class="address">
			<h6>Salina Family Healthcare Center</h6>
			<address>
				<a href="{{ gmap }}" target="_blank" rel="noreferrer nofollow">651 E Prescott Rd, Salina, Kansas 67401</a><br/>
				<a href="tel:{{ options.phone_number }}">{{ options.phone_number }}</a>
			</address>
		</div>

		<div class="divider"></div>

		<div class="clinic-numbers">
			<div class="clinic-numbers__content">
				<p>Medical Clinic</p>
				<a href="tel:{{ options.medical_clinic_number }}">{{ options.medical_clinic_number }}</a>
			</div>
			<div class="clinic-numbers__content">
				<p>Dental Clinic</p>
				<a href="tel:{{ options.dental_clinic_number }}">{{ options.dental_clinic_number }}</a>
			</div>
			<div class="clinic-numbers__content">
				<p>Behavioral Health</p>
				<a href="tel:{{ options.behavioral_services_number }}">{{ options.behavioral_services_number }}</a>
			</div>
			<div class="clinic-numbers__content">
				<p>Pharmacy</p>
				<a href="tel:{{ options.pharmacy_number }}">{{ options.pharmacy_number }}</a>
			</div>
		</div>

		<div class="divider"></div>

		<div class="external-links">
			{{ function('sfhc_render_footer_menu') }}
		</div>
	</div>

	<div class="attribution">
		<a href="/policies-and-disclosures">Policies &amp; Disclosures</a>
		<span>&copy; {{ date_year }} Salina Family Healthcare Center. All Rights Reserved</span>
		<a href="https://weare502.com" target="_blank" rel="noreferrer noopener">Design &amp; Development by <img src="{{ theme.link }}/static/icons/502-logo.png" alt="We Are 502" /></a>
	</div>
</footer>