{% extends 'base.twig' %}

{% block header %}
<div class="home-header">
	<h1>{{ post.get_field('header_text_top') }}</h1>
	<h1 class="brushstroke">{{ post.get_field('header_text_brushstroke') }}</h1>
	<section class="service-listing">
		<div class="service-listing__list">
			{% for service in post.get_field('service_listings') %}
				<div class="list-container">
					<div class="list-container--wrap">
						<img class="listing-icon" src="{{ TimberImage( service.listing_icon ).src }}" alt="{{ TimberImage( service.listing_icon ).alt }}" />
						<div class="listing-text">
							<h4>{{ service.service_name }}</h4>
							<p>{{ service.service_information }}</p>
							<a class="plain-mint-button" href="{{ service.listing_link }}">{{ service.listing_link_text }}</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<img class="right-image" src="{{ TimberImage(post.get_field('image_right')).src }}" alt="{{ TimberImage(post.get_field('image_right')).alt }}" />
	</section>
</div>
{% endblock %}

{% block content %}
<div class="home-template">
	<div class="grey-bar">
		<div class="grey-bar__content">
			<img src="{{ TimberImage(post.appointment_image).src }}" alt="{{ TimberImage(post.appointment_image).alt }}" />
			<div class="text-content">
				<h3>{{ post.appointment_header }}</h3>
				<p>{{ post.appointment_text }}</p>
				<a class="p-button" href="{{ post.appointment_button_link }}">{{ post.appointment_button_text }}</a>
			</div>
		</div>
	</div>

	<div class="resources-container">
		{% for res in post.get_field('patient_resources') %}
			<a class="resources-container__resource" href="{{ res.resource_link }}">
				<span class="icon-heart"><img src="{{ TimberImage(res.resource_icon).src }}" alt="{{ TimberImage(res.resource_icon).alt }}" /></span>
				{{ res.resource_title }}
			</a>
		{% endfor %}
	</div>

	{# 3 most recent journal entries #}
	{% if not recent_journals is empty %}
		<div class="recent-journals">
			{% set count = 0 %}
			{% for rj in recent_journals %}
				{% if count == 0 %}
					<div class="two-row-journal">
						<img src="{{ rj.thumbnail.src }}" alt="{{ rj.thumbnail.alt }}" />
						<h3>{{ rj.title }}</h3>
						<a class="p-button--border" href="{{ rj.link }}">Read</a>
					</div>
				{% else %}
					<div class="one-row-journal">
						<h4>{{ rj.title }}</h4>
						<p>{{ rj.journal_excerpt }}</p>
						<a class="p-button--border" href="{{ rj.link }}">Read</a>
					</div>
				{% endif %}
				{% set count = count + 1 %}
			{% endfor %}
		</div>
	{% endif %}

	<div class="app-bar" aria-label="Download our mobile app today!">
		<div class="app-bar__wrapper">
			<div class="download">
				<h3>{{ post.appstore_header }}</h3>
				<a class="store-icon" href="{{ post.gplay_store_link }}" target="_blank" rel="noreferrer">{% include '/static/icons/gplay-icon.svg' %}</a>
				<a class="store-icon" href="{{ post.appstore_link }}" target="_blank" rel="noreferrer">{% include '/static/icons/appstore-icon.svg' %}</a>
			</div>
			<img src="{{ theme.link }}/static/images/iphone.png" alt="iPhone Image" />
		</div>
	</div>

	<section class="reviews-container" aria-label="Patient Reviews">
		<div class="review-wrapper">
			<h3>{{ post.left_side_header_text }}</h3>
			{% for review in post.get_field('reviews_group') %}
				{% if loop.index is odd %} {# odd reviews go left (for ACF: the index starts at 1, not 0) #}
					<div class="review-content">
						<p>{{ review.review_text }}</p>
						<img src="{{ TimberImage( review.reviewer_image ).src }}" alt="{{ TimberImage( review.reviewer_image ).alt }}" />
						<span>{{ review.reviewer_name }}</span>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="review-wrapper">
			{% for review in post.get_field('reviews_group') %}
				{% if loop.index is even %} {# even reviews go right #}
					<div class="review-content">
						<p>{{ review.review_text }}</p>
						<img src="{{ TimberImage( review.reviewer_image ).src }}" alt="{{ TimberImage( review.reviewer_image ).alt }}" />
						<span>{{ review.reviewer_name }}</span>
					</div>
				{% endif %}
			{% endfor %}
			<a class="p-button--border" href="{{ post.review_link }}" target="_blank" rel="noreferrer">Leave your own review</a>
		</div>
	</section>

	<div class="additional-info" aria-label="Additional Information">
		<div class="text-content">
			<p>{{ post.additional_info_block_left }}</p>
		</div>
		<div class="divider"></div>
		<div class="text-content">
			<p>{{ post.additional_info_block_right }}</p>
		</div>
	</div>
</div>
{% endblock %}