<!doctype html>
<html class="" lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SFHC | Salina Family Healthcare Center</title>
	{{ function('wp_head') }}
	<link rel="stylesheet" href="https://use.typekit.net/qqm8cti.css">

	<!-- site verification -->
	<meta name="google-site-verification" content="-FcTdehWmnWOiV-U9qgwCVNSV1y-NAmFfeo2VxFX6ow" />
	
	<!-- Add tracking call for Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-599161721"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'AW-599161721');
	</script>
	
	<!-- Add Phone Number click tracking -->
	<script>
	gtag('config', 'AW-599161721/0zWMCPT02-EBEPn22Z0C', {
	'phone_conversion_number': '785-825-7251'
	});
	</script>