{% block navigation %}
<div class="nav-wrapper">
	<div class="nav-container">

		<div class="logo-bar">
			<a class="logo" href="/">
				<img src="{{ theme.link }}/static/images/sfhc-logo.png" alt="" />
			</a>

			<div class="logo-bar__pill-buttons">
				<a class="primary-button--pb" href="{{ options.patient_portal_link }}" style="margin-right: 1rem;" target="_blank" rel="nofollow">{{ options.patient_portal_link_text }}</a>
				<a class="primary-button--pb" href="{{ options.pharmacy_refill_link }}" target="_blank" rel="nofollow">{{ options.pharmacy_refill_link_text }}</a>
			</div>
		</div>

		<div class="mobile-nav-top">
			<a class="mobile-logo" href="/">
				<img src="{{ theme.link }}/static/images/sfhc-logo.png" alt="Salina Family Health Center Logo" />
			</a>

			<div id="menu-toggle">
				<span class="x-bar"></span>
				<span class="x-bar"></span>
				<span class="x-bar"></span>
			</div>
		</div>

		<nav class="nav-menu" role="navigation">
			{{ function('sfhc_render_primary_menu') }}
		</nav>

	</div>
</div>
{% endblock %}