{% extends 'base.twig' %}

{% block content %}
<div class="post-template-wide">
	<h1 class="default-title">{{ post.title }}</h1>
	<div class="block-content">{{ post.content }}</div>
</div>
{% endblock %}