{% extends 'base.twig' %}

{# clinic post type - checks if the page is a child or parent
   # parent pages have:  medical clinic bar, content middle, doctors
   # child pages have:  content top, medical clinic bar, doctors
#}

{% block content %}
<div class="post-template-wide">
	{# parent title and service alert check #}
	{% if is_parent %}
		<h1 class="add-mb">{{ post.title }}</h1>

		{% if post.service_alert %}
			<div class="clinic-mobile-alert">
				<p>{{ post.service_alert_text }}</p>
				<a class="alert-link" href="{{ post.service_alert_link }}">Learn More</a>
			</div>
		{% endif %}
	{% endif %}

	{# child title and back link #}
	{% if is_child %}
		<h1 class="no-mb">{{ post.title }}</h1>
		<a class="plain-back-button" href="{{ post.parent.link }}"><span class="fas fa-chevron-left"></span>Back to {{ post.parent.title }} Overview</a>

		{# Child posts core layout (child posts) #}
		{% include 'child-clinic.twig' %}

	{# Parent posts (core layout) #}
	{% elseif is_parent %}
		<section class="clinic-infobox" aria-label="Medical Clinic Information">
			{% if post.service_alert %}
				<div class="clinic-infobox__alert">
					<p>{{ post.service_alert_text }}</p>
					<a class="alert-link" href="{{ post.service_alert_link }}">Learn More</a>
				</div>
			{% endif %}

			<div class="clinic-infobox__content">
				<div class="content-container"> {# FLEX CONTAINER #}
					<div class="clinic-hour-list">
						<h4>{{ post.title }} Hours
							<span class="open-close-msg">{{ function('do_shortcode', '[mbhi location="' ~ post.title ~ '" format="12" openmessage="Open Now" closedmessage="Closed Now"]') }}</span>
						</h4>
						{% for clinic_time in post.get_field('clinic_hour_list') %}
							<div class="time-box">
								<span>{{ clinic_time.service_days }}</span>
								<span class="divider">|</span>
								<span>{{ clinic_time.service_hours }}</span>
							</div>
						{% endfor %}
					</div>
					<div class="child-post-list">
						<h4>How Our {{ post.title }} Can Help You</h4>
						<div class="child-post-grid">
							{% for child in post.get_children %}
								<div class="service-link-wrapper">
									<a class="service-link" href="{{ child.link }}">{{ child.title }}</a>
								</div>
							{% endfor %}
						</div>
					</div>
				</div> {# /.clinic-infobox__content #}

				{% if is_closed %}
					<div class="closed-message">
						{{ post.clinic_closed_message }}
					</div>
				{% endif %}

				<div class="help-buttons">
					<a class="p-button" href="tel:{{ post.clinic_phone_number }}">Call {{ post.clinic_phone_number }}</a>
					{% if post.patient_portal_login %}
						<a class="p-button--border" href="{{ post.patient_portal_login }}"
						target="_blank" rel="noreferrer">Login to your Patient Portal</a>
					{% endif %}
				</div>
			</div>

			<div class="svg-right">
				{% include '/static/images/stethoscope.svg' %}
			</div>
		</section>

		<section class="clinic-blocks" aria-label="About Our Clinic">
			{{ post.content }}
		</section>
	{% endif %} {# end of parent post check #}
</div>
{% endblock %}

{% block full_width_block %}
	<section class="clinic-directory" aria-label="Clinic Employee Directory">
		<div class="clinic-directory__wrapper">
			{% if post.title == 'Dental Clinic' or post.parent.title == 'Dental Clinic' %}
				<h3>Dentists</h3>
			{% elseif post.title == 'Medical Clinic' or post.parent.title == 'Medical Clinic' %}
				<h3>Physicians</h3>
			{% elseif post.title == 'Behavioral Health Clinic' or post.parent.title == 'Behavioral Health Clinic' %}
				<h3>Behavioral Health Providers</h3>
			{% elseif post.title == 'Pharmacy' or post.parent.title == 'Pharmacy' %}
				<h3>Pharmacists</h3>
			{% endif %}

			<div class="faculty-grid">
				{#  display faculty on parent and child pages
					(parent clinic title is used to see if a provider has the parent taxonomy selected, if so, it will be shown here instead of a more specific taxonomy below)
					This is the most General Category and also is the Parent Category for each department
				#}
				{% for provider in directory %}
					{% if post.title in provider.terms or post.parent.title in provider.terms %}
						<a class="faculty-grid__post" href="{{ provider.link }}" style="display: block;">
							<img src="{{ provider.thumbnail.src }}" alt="{{ provider.thumbnail.alt }}" />
							<span class="faculty-name">{{ provider.title }}</span>
							<span>{{ provider.provider_title }}</span>
						</a>
					{% endif %}
				{% endfor %}
			</div>

			{# Medical Clinic Parent and Child Pages #}
			{# Advanced Practice Providers #}
			{% if post.title == 'Medical Clinic' or post.parent.title == 'Medical Clinic' %}
				<h3 class="add-margin">Advanced Practice Providers</h3>
				<div class="faculty-grid">
					{% for provider in directory %}
						{% if 'Advanced Practice Providers' in provider.terms %}
							<a class="faculty-grid__post" href="{{ provider.link }}" style="display: block;">
								<img src="{{ provider.thumbnail.src }}" alt="{{ provider.thumbnail.alt }}" />
								<span class="faculty-name">{{ provider.title }}</span>
								<span>{{ provider.provider_title }}</span>
							</a>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}

			{# Dental Clinic Parent and Child Pages #}
			{# Hygienists #}
			{% if post.title == 'Dental Clinic' or post.parent.title == 'Dental Clinic' %}
				<h3 class="add-margin">Hygienists</h3>
				<div class="faculty-grid">
					{% for provider in directory %}
						{% if 'Hygienists' in provider.terms %}
							<a class="faculty-grid__post" href="{{ provider.link }}" style="display: block;">
								<img src="{{ provider.thumbnail.src }}" alt="{{ provider.thumbnail.alt }}" />
								<span class="faculty-name">{{ provider.title }}</span>
								<span>{{ provider.provider_title }}</span>
							</a>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		</div> {# /.clinic-directory__wrapper #}
	</section> {# /.clinic-directory #}
{% endblock %}