{% extends 'base.twig' %}

{% block content %}
<div class="single-directory-wrapper">
	<h1 class="provider-name">{{ post.title }}</h1>
	<p class="provider-title">{{ post.provider_title }}</p>

	{# puts provider image next to name and title card-style on mobile (cleaner look) #}
	<div class="mobile-title-bar">
		<div class="text">
			<h1>{{  post.title }}</h1>
			<p class="provider-title-mobile">{{ post.provider_title }}</p>
		</div>
		<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" style="border-radius: 50%;" />
	</div>

	<div class="bio-content">
		<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}"/>
		<p>{{ post.provider_bio }}</p>
	</div>

	<div class="post-bar">
		<div class="post-bar__container">
			{% if post.provider_phone %}
				<a class="phone" href="tel:{{ post.provider_phone }}">
					<span class="fa fa-phone"></span>
					{{ post.provider_phone }}
				</a>
				<div class="divider"></div>
			{% endif %}
			{% if post.provider_email %}
				<a class="email" href="mailto:{{ post.provider_email }}">
					<span class="fa fa-envelope"></span>
					{{ post.provider_email }}
				</a>
			{% endif %}
			<a class="p-button" href="/providers/">View All Providers</a>
		</div>
	</div>
</div>
{% endblock %}