.alert-banner {
	position: relative;
	width: 100%;
	padding: 0.75rem 1rem;
	background-color: $red;
	box-shadow: 0 2px 4px 0 rgba($black, 0.5);
	z-index: 5;

	// flex used to align items in container and wrap elements on mobile
	&__container {
		position: relative;
		max-width: 28.25rem;
		margin: 0 auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		@include bp(xs) { flex-direction: row; }
	}

	span, a {
		display: inline-block;
		color: $white;
	}

	span {
		font-weight: bold;
		font-size: 1.375rem;
		text-align: center;

		@include bp(xs) {
			text-align: left;
			margin-right: 1.5rem;
		}
	}

	a {
		border-color: $white;
		white-space: nowrap;
		font-size: 1.125rem;
		padding: 0.25rem 0.75rem;
		margin-top: 1rem;
		@include bp(xs) { margin-top: 0; }

		&:hover {
			cursor: pointer;
			background-color: $white;
			color: $red;
		}
	}
}