// directory page specific styles (tweaks to facet area)
.page-template-archive-directory {

	// adjust padding on facet wrap to reduce size for negative margin-top on svg
	.global-facet-wrap { margin-top: 5rem; }

	// force width on select dropdown for flex
	.facetwp-type-dropdown { width: 17.75rem; }
}

.directory-facet-group {
	position: relative;
	display: flex;
	max-width: 62.5rem;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	@include bp(900px) { justify-content: space-between; }

	img {
		display: none;
		position: absolute;
		max-width: 14rem;
		top: -9.5rem;
		right: 0;
		@include bp(900px) { display: block; }

		@include bp(930px) {
			max-width: 16rem;
			top: -11.75rem;
		}
	}
}

// grid for providers and staff listing
.directory-grid {
	display: grid;
	max-width: 62.5rem;
	margin: 5rem auto;
	grid-template-columns: repeat(auto-fit, 13.875rem);
	column-gap: 2.25rem;
	row-gap: 3.75rem;
	justify-content: center;

	img {
		display: block;
		border-radius: 50%;
	}

	.provider-name {
		display: block;
		margin-top: 1.5rem;
		text-align: center;
		font-size: 1.5rem;
		font-weight: bold;
		color: $light-black;
	}

	span {
		display: block;
		text-align: center;
		font-size: 1.125rem;
		font-weight: normal;
		color: $grey-three;
	}
}