.primary-button {
	display: inline-block;
	padding: 0.9375rem 1rem 0.85rem;
	font-family: $font-body;
	font-size: 0.875rem;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
	line-height: 1; // reduce extra space amount
	vertical-align: text-top;

	&--w, &--pb, &--alert { @extend .primary-button; }

	// white
	&--w {
		background-color: $white;
		color: $purple;

		&:hover {
			background-color: $mint;
			color: $white;
		}
	}

	// transparent (ghost-style)
	&--pb {
		background-color: transparent;
		color: $purple;
		border: 1px solid $purple;
		border-radius: 22px;
		font-weight: bold;

		&:hover {
			background-color: $purple;
			color: $white;
		}
	}

	// for alert banner at top of site
	&--alert {
		color: $white;
		background-color: transparent;
		border: 1px solid $white;
		transition: 0.1s ease-in;
		font-size: 1.125rem;
		border-radius: 27px;
		text-transform: unset;

		&:hover {
			background-color: $white;
			color: $red;
			transition: 0.1s ease-out;
		}
	}
}

// for home page mint links in header section
.plain-mint-button {
	display: inline-block;
	font-size: 1.125rem;
	font-weight: normal;
	text-transform: unset;
	color: $teal;
	&:hover { text-decoration: underline $mint; }
}

// solid purple pill button
.p-button {
	display: inline-block;
	text-align: center;
	font-size: 0.875rem;
	font-weight: bold;
	padding: 0.6rem 0.75rem;
	text-transform: uppercase;
	border-radius: 20px;
	background-color: $purple;
	color: $white;
	&:hover { background-color: $light-purple; }

	&--border {
		@extend .p-button;
		background-color: transparent;
		border: 1px solid $purple;
		color: $purple;
		padding: 0.5rem 1rem;

		&:hover {
			background-color: $purple;
			color: $white;
		}
	}
}

// for back to "x" page links
.plain-back-button {
	display: block;
	margin: 0.25rem auto 1.75rem;
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
	color: $pale-purple;
	text-decoration: underline $pale-purple;

	@include bp(sm) {
		margin-top: 0.75rem;
		margin-bottom: 1rem;
		font-size: 1.125rem;
		text-align: left;
	}

	&:hover {
		color: $purple;
		text-decoration: underline $purple;
	}

	.fas {
		font-size: 0.6rem;
		margin-right: 0.3rem;
		@include bp(sm) { font-size: 0.8rem; }
	}
}