.clinic-hours {
	max-width: 100%;
	margin: 0 auto;
	background-color: $off-white;
	padding: 0.5rem;
	@include bp(md) { padding: 1.25rem 1rem; }

	&__container {
		display: flex;
		max-width: 75rem;
		margin: 0 auto;
		padding: 0 1rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include bp(md) {
			flex-direction: row;
			justify-content: space-between;
		}

		.clinic-times {
			display: flex;
			max-width: 47.75rem;
			width: 100%;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			@include bp(md) { justify-content: space-between; }

			&--time {
				margin-right: 0.5rem;
				margin-left: 0.5rem;

				@include bp(md) {
					margin-right: 1rem;
					margin-left: 0;
				}
			}
		}

		// clinic hours shared styles
		.clinic-title, .mb-bhi-open, .mb-bhi-closed  {
			font-size: 1.0625rem; // 17px
			font-weight: bold;
		}

		.clinic-title {
			color: $light-black;
			&:hover { color: $teal; }
		}

		// social icons and phone number
		.social-container {
			max-width: 14rem;
			margin-top: 1rem;
			@include bp(md) { margin-top: 0; }

			.social-link {
				display: inline-block;
				margin-right: 0.5rem;
				vertical-align: sub;
			}

			.clinic-phone {
				display: inline-block;
				color: $purple;
				font-size: 1rem;
				font-weight: bold;
				font-family: $font-body;
				margin-left: 2rem;

				&:hover {
					text-decoration: underline $purple;
				}
			}

			svg {
				width: 1rem; // 15px
				height: 1rem;
				path { fill: $grey-three !important; }
			}
		} // end .social-container
	} // end .clinic-hours__container
} // end .clinic-hours (parent container)