.contact-information {
	display: flex;
	justify-content: center;
	flex-wrap: wrap-reverse;
	margin-top: 3rem;
	margin-bottom: 5rem;

	@include bp(sm) {
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: nowrap;
	}

	.social-information {
		max-width: 20rem;
		margin-top: 2.5rem;
		@include bp(sm) { margin-top: unset; }

		.light-bold {
			display: block;
			margin-bottom: 2.5rem;
			font-family: $font-body;
			font-weight: bold;
			font-size: 1.4rem;
			color: $light-black;

			@include bp(sm) {
				display: inline-block;
				font-size: 1.5rem;
			}
		}

		p { font-size: 1.125rem; }

		.social-link {
			display: inline-block;
			margin-right: 1.75rem;

			svg {
				max-width: 1.625rem;
				path { fill: $light-purple !important; }
			}

			#linkedin {
				position: relative;
				top: -1.15rem;

			}
		}
	}
}

// Mapbox
.map-container {
	position: relative;
}

#map {
	position: relative;
	width: 20rem;
	height: 18rem;

	@include bp(xs) {
		width: 30rem;
		height: 22rem;
	}

	@include bp(sm) { margin-left: 1.5rem; }

	@include bp(md) {
		width: 43.125rem;
		height: 32.125rem;
	}

	// apply radius to canvas
	canvas { border-radius: 10px; }
}

// make buttons and controls visible
.mapboxgl-ctrl.mapboxgl-ctrl-group {
	position: absolute;
	width: 4rem;
	top: 0;
	right: 0;
	padding: 1rem;

	button, [type="button"], [type="reset"], [type="submit"] {
		-webkit-appearance: none;
		margin-bottom: 0.5rem;
		width: 2rem;
		height: 2rem;
		padding: 0;
		background-color: $light-black;
		color: $white;
		border: unset;
		border-radius: 5px;
	}

	// hide map clutter
	.mapboxgl-ctrl-bottom-left,
	.mapboxgl-ctrl-bottom-right,
	.mapboxgl-ctrl-compass {
		display: none;
	}

	// zoom in button:  add + sign
	.mapboxgl-ctrl-zoom-in {
		&:before {
			content: '+';
			position: relative;
			font-weight: bold;
		}
		&:hover { cursor: pointer; }
	}

	// zoom out button:  add - sign
	.mapboxgl-ctrl-zoom-out {
		&:before {
			content: '-';
			position: relative;
			font-weight: bold;
		}
		&:hover { cursor: pointer; }
	}
}

// hide mapbox attribution (paid)
.mapboxgl-ctrl-bottom-right {
	display: none !important;
}