// all facet styles
.post-template-wrapper, .post-template-wide {

	.facetwp-facet {
		margin-bottom: unset;
	}

	.global-facet-wrap {
		max-width: 100%;
		margin: 2.5rem auto 3.75rem;
		background-color: $facet-grey;
		padding: 1.5rem 1rem;
		border-radius: 9px;
		text-align: center; // mobile/tablet centering

		@include bp(689px) {
			text-align: left;
			padding: 2.5rem 1rem;
		}
	}

	.no-center { text-align: left; }
	.reduce-pad { padding: 1rem; }

	// select wrapper style overrides
	.facetwp-type-dropdown {
		display: inline-block;
		position: relative;
		max-width: 17.75rem;
		width: 100%;
		margin-bottom: 0;

		@include bp(689px) {
			&:first-of-type {
				margin-right: 1.875rem;
				margin-left: 1.4rem;
			}
		}

		&:after {
			content: '\f078';
			font-family: FontAwesome;
			font-size: 0.9rem;
			position: absolute;
			top: 50%;
			right: 0.75rem;
			transform: translateY(-50%);
			color: $light-purple;
		}
	}

	// margin for first dropdown (department filter)
	.facetwp-facet-journal_facet {
		margin-bottom: 2rem;
		@include bp(689px) { margin-bottom: 0; }
	}

	.facetwp-type-checkboxes {
		.facetwp-checkbox {
			font-size: 1.125rem;
			color: $light-black;
			border-radius: 2px;
			background-color: transparent;
		}

		.facetwp-checkbox.checked {
			background: transparent;
			position: relative;

			&:before {
				position: absolute;
				content: '\f00c';
				font-family: FontAwesome;
				font-size: 1rem;
				font-weight: 300;
				left: 0;
				color: $light-purple;
			}
		}
	}

	select, option {
		font-family: $font-body;
		font-size: 1.125rem !important;
		color: $light-black;
	}

	select {
		position: relative;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		display: block;
		width: 100%;
		padding: 0.625rem;
		border: 1px solid $grey-four;
		border-radius: 5px;
		background: transparent;
		z-index: 2;
		line-height: 1.5;

		&:hover { cursor: pointer; }
	}

	// name search on directory (and all other search boxes using WP_Search)
	.facetwp-type-search {
		position: relative;
		display: inline-block;
		max-width: 17.75rem;
		width: 100%;
		margin-right: 0;
		margin-bottom: 1.5rem;
		@include bp(636px) { margin-bottom: unset; }
		@include bp(660px) { margin-right: 1.5rem; }

		// icon
		i { opacity: 1; }

		// icon override
		.facetwp-icon::before {
			width: unset;
			height: unset;
			position: absolute;
			top: 50%;
			right: 0.75rem;
			transform: translateY(-50%);
			content: '\f002';
			font-family: FontAwesome;
			font-size: 1rem;
			font-style: normal;
			background: none;
			color: $purple;
		}

		.facetwp-search {
			width: 17.75rem;
			padding: 0.8rem;
			border: 1px solid $grey-four;
			border-radius: 5px;
			background: none;
			font-family: $font-body;
			font-size: 1.125rem !important;
			color: $light-black;
		}
	}

	.facetwp-type-pager {
		margin: 0 auto;
		text-align: center;
		max-width: 15rem;

		a {
			display: inline-block;
			width: 0.75rem;
			padding: 0.25rem 0.25rem 0;
			color: $light-black;
			margin-right: 0.5rem;
			margin-left: 0.5rem;

			&.active {
				border-bottom: 2px solid $light-purple;
				font-weight: normal;
			}
		}
	}
}