// above footer logo and brand seal
.above-footer {
	display: flex;
	max-width: 77rem;
	margin: 0 auto;
	padding: 1rem;
	justify-content: space-between;
	align-items: center;

	&__logo {
		display: block;
		max-width: 10rem;
	}

	&__brand {
		display: block;
		max-width: 4.875rem; // 78px
	}
}

// main footer styles
footer {
	max-width: 77rem;
	margin: 0 auto;
	padding: 0 1rem;

	.clinic-information {
		display: flex;
		max-width: 100%;
		padding: 1.625rem 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-top: 1px solid $menu-grey;
		border-bottom: 1px solid $menu-grey;

		@include bp(800px) {
			flex-direction: row;
			justify-content: space-between;
		}

		// global footer divider
		.divider {
			display: none;
			width: 1px;
			height: 3.75rem;
			margin: 0 1.5rem;
			background-color: $menu-grey;
			@include bp(800px) { display: block; }
		}
	}

	.address { // wrap
		max-width: 15.5rem;
		width: 100%;

		h6 {
			font-size: 1rem;
			font-family: $font-body;
			color: $light-black;
		}

		address, a {
			color:$light-black;
			font-size: 0.875rem;
		}

		a:hover { text-decoration: underline; }
	}

	.clinic-numbers {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 20rem;
		width: 100%;
		flex-wrap: wrap;
		@include bp(470px) { max-width: 30rem; }
		@include bp(550px) { max-width: 45rem; }

		&__content {
			margin: 1.5rem 1rem 0;
			@include bp(470px) { margin: 0; }

			// first 2 do not get margin-top when wrapped (prevents extra large gap)
			&:nth-of-type(4n+1) { margin-top: 0; }
			&:nth-of-type(4n+2) { margin-top: 0; }

			p {
				max-width: 9.25rem;
				margin-bottom: 0;
				font-weight: bold;
			}

			a {
				font-size: 0.875rem;
				color: $light-black;
				&:hover { text-decoration: underline; }
			}

			&:last-of-type {
				margin-left: 0;
				margin-right: 1.7rem;
				@include bp(470px) { margin-left: 1rem; }
			}
		}
	}

	// footer menu
	.external-links {
		margin-top: 1.5rem;
		@include bp(800px) { margin-top: 0; }

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				padding: 0;
				margin: 0;
			}
		}

		#footer-menu {
			display: flex;
			flex-direction: column;

			li a {
				color: $light-black;
				font-size: 0.875rem;
				&:hover { text-decoration: underline; }
			}
		}
	}

	.attribution {
		display: flex;
		max-width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0.875rem 0;

		@include bp(680px) {
			flex-direction: row;
			justify-content: space-between;
		}

		a, span {
			font-size: 0.9375rem; // 15px
			color: $light-black;
			text-align: center;
			@include bp(680px) { text-align: left; }
		}

		span {
			display: inline-block;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;

			@include bp(680px) {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		a:hover { text-decoration: underline; }

		img {
			display: inline-block;
			max-width: 1.25rem;
		}
	}
}