.home-template {
	max-width: 77rem;
	margin: 0 auto 3.5rem;
	padding: 1rem;
}

.grey-bar {
	max-width: 100%;
	margin: 0 auto 3rem;
	padding: 1rem;
	background-color: $facet-grey;
	border-radius: 5px;
	@include bp(520px) { margin: 0 auto 5rem; }

	&__content {
		display: flex;
		max-width: 52rem;
		width: 100%;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		@include bp(520px) { justify-content: space-between; }
	}

	.text-content {
		max-width: 15rem;
		@include bp(520px) { max-width: 26rem; }

		h3 { font-style: italic; }
	}

	img {
		display: none;
		margin-top: -2rem;
		margin-bottom: -2rem;
		margin-right: 2rem;
		max-width: 16.5rem;
		width: 100%;
		@include bp(520px) { display: block; }
	}
}

// row of patient resource links with heart icon above
.resources-container {
	display: flex;
	max-width: 62.5rem;
	margin: 1rem auto 5rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include bp(430px) {
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	@include bp(520px) {
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	&__resource {
		text-align: center;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		color: $purple;
		font-size: 1.125rem;
		text-transform: uppercase;
		font-weight: bold;

		@include bp(520px) {
			margin-left: 0.75rem;
			margin-right: 0.75rem;
		}

		&:hover {
			text-decoration: underline $purple;
		}
	}

	.icon-heart {
		display: block;
		padding-bottom: 0.5rem;
		margin-top: 2.5rem;
		@include bp(520px) { margin-top: 0; }
	}
}

.recent-journals {
	display: grid;
	margin: 1rem auto;
	max-width: 62.5rem;
	grid-template-columns: repeat(1, minmax(20rem, 30.5rem));
	row-gap: 1.25rem;
	column-gap: 1.25rem;
	justify-content: center;

	@include bp(690px) {
		grid-template-columns: repeat(2, minmax(20rem, 30.5rem));
	}

	@include bp(900px) { margin: 5rem auto 12rem; }

	.one-row-journal, .two-row-journal {
		padding: 1.375rem;
		background-color: $facet-grey;
		border-radius: 5px;
	}

	// comes first
	.two-row-journal {
		text-align: center;
		@include bp(690px) { grid-row-start: span 2; }

		img {
			border-radius: 5px;
			box-shadow: 0 20px 8px -10px $menu-grey;
			margin-bottom: 1.5rem;
		}

		h3 { margin-bottom: 1.5rem; }
	}

	// x2 second
	.one-row-journal {
		@include bp(690px) {
			grid-column-start: 2;
			grid-column-end: 2;
		}

		p {
			max-width: 26rem;
		}
	}
}

// app download bar
.app-bar {
	max-width: 62.5rem;
	margin: 0 auto 5rem;
	background-color: $facet-grey;
	border-radius: 5px;
	padding: 1rem;

	@include bp(900px) {
		margin: 12rem auto;
		padding: 5rem 4.5rem;
	}

	// phone image and appstore content wrapper
	&__wrapper {
		position: relative;
		display: flex;
		max-width: 51.25rem; // 820px
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		@include bp(900px) { justify-content: space-between; }

		// store download section
		.download {
			max-width: 25rem;
		}

		/* styles broken out below belong to [.app-bar__wrapper > .download]
		   broken out to avoid deep nesting
		*/

		// first store icon (google play)
		.store-icon:first-of-type {
			margin-right: 0.5rem;
			@include bp(900px) { margin-right: 1.25rem; }
		}

		h3 {
			margin-bottom: 2.5rem;
			font-size: 1.85rem;
			@include bp(sm) { font-size: 2.25rem; }
		}

		// add radius to appstore icon - gplay is rounded by default
		a svg {
			border-radius: 7px;
			max-width: 9rem;
			@include bp(900px) { max-width: 100%; }
		}

		// iphone image
		img {
			display: none;
			position: absolute;
			right: 0;
			max-width: 16.75rem;
			@include bp(900px) { display: block; }
		}
	} // end .app-bar__wrapper
}

// reviews (masonry style - no grid) (810px bp)
.reviews-container {
	display: flex;
	max-width: 50rem;
	margin: 0 auto 3.5rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include bp(810px) {
		flex-direction: row;
		align-items: initial;
		justify-content: space-between;
	}

	.review-wrapper {
		max-width: 24rem;

		h3 {
			max-width: 17.5rem;
			margin-bottom: 1.75rem;
			font-size: 1.8rem;
			color: $light-black;
			@include bp(xs) { font-size: 2rem; }
			@include bp(810px) { margin-bottom: 3.375rem; }
		}

		.review-content {
			max-width: 100%;
			margin-bottom: 1.25rem;
			padding: 1.5rem;
			border-radius: 5px;
			background-color: $facet-grey;
			@include bp(810px) { margin-bottom: 1.75rem; }

			p {
				font-size: 1.125rem;
				color: $light-black;
			}

			span {
				color: $purple;
				font-weight: bold;
			}

			img {
				display: inline-block;
				max-width: 3.75rem;
				margin-right: 1rem;
				border-radius: 9px;
				vertical-align: middle; // centers image with text
			}
		}

		.p-button--border {
			margin-top: 1.5rem;
			@include bp(sm) { margin-top: 0.5rem; }
		}
	} // end .review-wrapper
}

// text containers at bottom of homepage
.additional-info {
	display: flex;
	max-width: 48rem;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid $facet-grey;
	border-bottom: 1px solid $facet-grey;

	@include bp(650px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.text-content {
		max-width: 22.25rem;
		padding: 1.25rem 0;

		@include mq($from: 650px) {
			&:last-of-type { margin-left: 1rem; }
		}

		p {
			margin-bottom: 0;
			font-size: 1.125rem;
		}
	}

	.divider {
		display: none;
		width: 1px;
		height: 8.375rem;
		background-color: $facet-grey;

		@include bp(650px) {
			display: block;
			align-self: center; // center instead of flex-start aligned
		}
	}
}