* { box-sizing: border-box; }
html { font-size: 16px; }

html, body {
	// smooths jagged font edges
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	// font variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;

	// global line-height
	line-height: 1.3;
	overflow-x: hidden;
}

// no scroll when mobile menu is opened
.lock-body { overflow-y: hidden; }

// sitewide placeholder text (make it legible)
::placeholder { color: $light-black; opacity: 1; font-size: 1.125rem; }

// base image setup
img {
	max-width: 100%;
	height: auto;
}

// hide the number of results available next to all facets
span.facetwp-counter { display: none !important; }