.home-header {
	margin: 0 auto;
	@include bp(lg) { margin: unset; }
	// hero styles
	h1 {
		margin-top: 0;
		margin-bottom: 0;
		&:not(.brushstroke) { font-weight: normal; }
	}

	// hero with brushstroke background
	.brushstroke {
		font-weight: 900; // questa black
		background-image: url('static/images/brushstroke-bg.svg');
		background-repeat: no-repeat;
		background-position: left;

		// background size follows h1 breakpoints
		background-size: 13rem;
		@include bp(xs) { background-size: 14.5rem; }
		@include bp(sm) { background-size: 18rem; }
		@include bp($laptop) { background-size: 24rem; }
	}
}

.service-listing {
	position: relative;
	display: flex;
	max-width: 100%;
	margin: 3rem auto 3.25rem;
	justify-content: space-between;
	align-items: center;
	@include bp(md) { margin: 3rem auto 6.26rem; }
	@include bp(lg) { align-items: flex-start; }

	&__list {
		max-width: 30.375rem; // 486
		width: 100%;
		margin-right: 1rem;
		flex-shrink: 0; // prevent from shrinking until laptop+

		// wraps [.listing-icon] & [.listing-text]
		.list-container {
			max-width: 100%; // 428px
			width: 100%;
			padding: 0.75rem 0;
			border-bottom: 1px solid $grey-five;

			&--wrap {
				display: flex;
				max-width: 26.75rem; // 428px
				justify-content: space-around;
				align-items: center;
			}
		}

		// svg icons
		.listing-icon {
			display: block;
			max-width: 3.25rem;
			margin-right: 2.5rem;
		}

		// right text content (h4 and p)
		.listing-text {
			max-width: 20.875rem; // 334px
			width: 100%;

			p {
				font-size: 1.4375rem;
				line-height: 1.1;
			}
		} // end .listing-text
	}

	img {
		max-width: 38.25rem;
	}

	.right-image {
		display: none;

		@include bp($laptop) {
			display: block;
			margin-left: 1.5rem;
		}
		@include bp(lg) { margin-top: -4rem; }
	}
}