// global menu styles
.nav-wrapper {
	position: relative;
	max-width: 100%;
	margin-top: 1.875rem;
	margin-bottom: 2.5rem;

	// setup base menu ul styles
	.nav-container nav ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

// hamburger menu
#menu-toggle { display: none; }
.mobile-nav-top { display: none; }

// laptop+ styles
@include mq($from: 851px) {

	// no border or bottom padding on mobile
	.nav-container {
		max-width: 77rem;
		margin: 0 auto;
		padding: 1rem;
	}

	.logo-bar {
		display: flex;
		margin: 0 auto 2.5rem;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;

		.logo img {
			display: block;
			width: 17.875rem;
			margin-right: 2rem;
		}
	}

	// <nav>
	.nav-menu {
		border-radius: 27px;
		box-shadow: 0 3px 10px 0 rgba($menu-grey, 0.5);

		// ul#primary-menu
		.menu {
			display: flex;
			max-width: 100%;
			justify-content: space-between;
			margin: 0;

			// nav global li styles
			li {
				position: relative; // for sub-menu
				background-color: transparent;
				padding: 0.4rem 0;

				&.current-menu-item {
					a {
						border: 1px solid $mint;
						padding: 0.5rem 1.75rem;
						color: $teal;
						border-radius: 27px;
					}
				}

				// for non-clickable links with a dropdown menu
				&:hover { cursor: pointer; }
			}

			// nav global anchor styles
			li a {
				padding: 0.5rem 1.75rem;
				font-family: $font-body;
				font-size: 1.125rem; // 18px
				color: $light-black;
				border: 1px solid transparent;
				border-radius: 27px;
				&:hover { border-color: $mint; }
			}

			#menu-item-463, #menu-item-464 {
				display: none;
			}

			// menus with children - class target (they may add more)
			.menu-item-has-children {
				position: relative; // for sub-menu positioning (explicit here vs <li> implicit above)
				z-index: 5;

				&:hover {
					background-color: $white;
					transition: none;

					> a {
						border-color: $mint;
					}

					.sub-menu {
						visibility: visible;
						opacity: 1;
						transition: visibility 0.2s ease-out;
					}
				}

				// first target link
				> a { position: relative; }

			} // .menu-item-has-children

			// ul.sub-menu (allow overflow for arrow at top)
			.sub-menu {
				position: absolute;
				top: 3.1rem;
				left: 50%;
				transform: translateX(-50%); // center on parent menu item (with left 50%)
				width: 14rem;
				margin-bottom: 0;
				visibility: hidden;
				opacity: 0;
				transition: 0.2s ease-out; // allows for mouse movement to menu without it closing
				transition-delay: 0.15s; // delay for initial mouse movement
				background-color: $white;
				border-radius: 27px;
				box-shadow: 0 0 10px 0 $menu-grey;

				li {
					border: unset;
					padding: unset;
					margin: 0.5rem auto;

					// only highlight current menu item, not children (>)
					&.current-menu-item {
						> a {
							color: $teal;
							text-decoration: underline $teal;
						}
					}
				}

				// base sub-menu anchor width and styles
				li a {
					display: block;
					max-width: 100%;
					margin: 0 auto;
					font-family: $font-body;
					font-weight: normal;
					font-size: 1.125rem; // 18px
					color: $light-black;
					text-transform: none;
					border: none;
					transition: none;

					&:hover {
						text-decoration: underline $teal;
						color: $teal;
						transition: none;
						border: none;
					}
				}

				&:before {
					content: '';
					width: 0;
					height: 0;
					position: absolute;
					top: -0.75rem;
					left: 50%;
					transform: translateX(-50%);
					border-radius: 27px;
					border-left: 20px solid transparent;
					border-right: 20px solid transparent;
					border-bottom: 15px solid $white;
				}
			} // .sub-menu

			// nested sub-menu (3rd level)
			.sub-menu li .sub-menu {
				position: relative;
				top: 1.5rem;
				left: 1rem;
				border: unset;
				width: 100%;

				&:before {
					content: '\2014'; // em dash (long hyphen, non-breaking) --
					position: absolute;
					left: 1rem;
					top: 0.35rem;
					color: $teal;
				}

				li { margin-bottom: unset; }
			}
		} // .menu
	} // .nav-menu
}

// mobile to laptop styles
@include mq($until: 850px) {

	.nav-wrapper {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	.logo { display: none; }

	// used to expand header with menu inside it
	.mobile-nav-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 1rem;

		.mobile-logo { max-width: 12.125rem; }
	}

	.logo-bar {
		display: none;
	}

	// mobile menu toggle X
	#menu-toggle {
		display: block;
		&:hover { cursor: pointer; }

		.x-bar {
			display: block;
			height: 2px;
			margin-bottom: 6px;
			background-color: $purple;
			transition: 0.2s ease-out;
			border-radius: 2px;
			margin-right: 0; // align bars right
			margin-left: auto; // align bars right

			// adjust the widths to make them staggered
			&:nth-child(3n+1) { width: 1.8rem; }
			&:nth-child(3n+2) { width: 1.4rem; }
			&:nth-child(3n+3) { width: 1rem; }

			// make them all the same so the X looks correct
			&.x-bar-active { width: 1.6rem; }
		}

		.x-bar-active {
			position: relative;
			transition: 0.2s ease-in;
			margin-bottom: 0;
			height: 2px;

			&:nth-child(3n+1) {
				top: 0;
				transform: rotate(45deg);
			}

			&:nth-child(3n+2) {
				opacity: 0;
			}

			&:nth-child(3n+3) {
				bottom: 4px;
				transform: rotate(-45deg);
				margin-bottom: 0;
			}
		}
	}

	// keep border off edges in #primary-menu
	.nav-menu {
		padding: 0 1rem;
	}

	#primary-menu {
		display: none;
		width: 100%;
		top: 0;
		margin: 0 auto;
		padding-top: 1.5rem;
		overflow: hidden;
		border-top: 2px solid $purple;

		// pharmacy/pay bill buttons
		#menu-item-463, #menu-item-464 {
			display: inline-block;
			text-align: center;
			font-size: 0.875rem;
			font-weight: bold;
			padding: 0.5rem 1rem;
			text-transform: uppercase;
			border-radius: 20px;
			background-color: transparent;
			border: 1px solid $purple;
			color: $purple;

			&:hover {
				background-color: $purple;
				color: $white;
			}
		}

		li {
			margin-bottom: 2rem;
			margin-left: 2.25rem;
		}

		a {
			font-family: $font-body;
			font-weight: bold;
			color: $light-black;
			font-size: 1rem;
			text-transform: uppercase;
		}

		.menu-item-has-children {
			//position: relative;

			a {
				position: relative;
				color: $light-black;
			}

			// spacing for menu-items first level sub-menu
			> li {
				margin-top: 0.75rem;
			}

			// hidden menu state
			.sub-menu {
				position: absolute;
				opacity: 0;
				visibility: hidden;
				top: 1rem;
				left: 100%;
				margin-top: 4rem;
				width: 100%;
				transition: 0.2s ease-out;
				z-index: -1;
				margin-left: 0;

				li .sub-menu li {
					position: absolute;
					top: 0.1rem;
					left: 0;
					transition: unset;
				}
			}

			// open menu state
			.sub-menu-open {
				position: absolute;
				top: 1rem;
				left: 0;
				display: block;
				height: 100%;
				width: 100%;
				opacity: 1;
				visibility: visible;
				transition: 0.2s ease-in;
				overflow-y: scroll; // small screen support
				overflow-x: hidden; // no horizontal scroll on mobile
				z-index: 25;
				background-color: $white;

				li {
					margin-left: 3.25rem;
					margin-bottom: 1.675rem;
					&:first-of-type { margin-left: 1rem; font-style: normal; font-size: 1rem; }

					a {
						text-transform: unset;
						font-family: $font-body; // questa-slab for these
						font-size: 1rem;
						font-weight: normal;
					}
				}

				// third level sub-menu adjustments (unset most styles)
				li .sub-menu-open {
					position: relative;
					top: 0.1rem;
					background: unset;
					margin: unset;
					padding: unset;
					overflow: unset;
					transition: unset; // without this, menu item flies up from bottom right corner due to parent styles

					&:before {
						content: '\2014'; // emdash (long hyphen, non-breaking) --
						position: absolute;
						left: 0;
						top: -0.15rem;
						color: $light-black;
					}

					// third left list item
					li {
						position: relative;
						margin-top: 0.5rem;
						margin-bottom: 0;
						padding-top: 0;
						margin-left: 1.5rem;
						padding-bottom: 0.25rem;

						// hide back button on this list item
						&:first-of-type { display: none; }
					}
				}
			}

			// back button at top of menu (prepended in site.js file)
			#mobile-back-button {
				background: unset;
				border: unset;
				width: 23.45rem;
				padding: 0.75rem 0;
				border-bottom: 2px solid $purple;
				text-align: left;
				color: $purple;
				font-family: $font-body; // FontAwesome fallback for arrow
				font-size: 1rem;
				font-weight: bold;
				text-transform: uppercase;

				.fas {
					margin-right: 0.5rem;
					vertical-align: baseline;
					font-size: 0.9rem;
				}
			}

		} // end .menu-item-has-children
	} // end #primary-menu
}