.single-directory-wrapper {
	max-width: 52rem;
	padding: 0 1rem;
	margin: 0 auto 5rem;

	// first h1
	.provider-name {
		display: none;
		@include bp(sm) { display: block; }
	}

	.provider-title, .provider-title-mobile {
		font-size: 1.125rem;
		color: $grey-three;
		margin-bottom: unset;
		padding-bottom: 1.875rem;
		&:not(.provider-title-mobile) {
			display: none;
			@include bp(sm) { display: block; }
		}
	}

	.mobile-title-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 100%;
		padding-bottom: 1.5rem;
		@include bp(sm) { display: none; }

		img {
			max-width: 6rem;
			@include bp(xs) { max-width: 8rem; }
		}
	}

	.bio-content {
		display: flex;
		width: 100%;
		max-width: 100%;
		padding: 1.875rem 0; 
		justify-content: space-between;
		align-items: flex-start;
		border-top: 1px solid $grey-four;

		img {
			display: none; // moved into title bar on mobile
			max-width: 11.375rem; // 182px
			border-radius: 50%;
			@include bp(sm) { display: block;}
		}

		p { max-width: 34.5rem; } // 552px
	}
}

.post-bar {
	max-width: 100%;
	margin: 0 auto;
	padding: 1rem 0.5rem;
	border-radius: 9px;
	background-color: $facet-grey;

	&__container {
		display: flex;
		max-width: 37rem;
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include bp(540px) {
			flex-direction: row;
			justify-content: space-between;
		}

		.divider {
			display: none;
			height: 2.625rem;
			width: 1px;
			background-color: $purple;
			@include bp(540px) { display: inline-block; }
		}

		.phone, .email {
			font-size: 1.125rem;
			color: $light-black;
		}

		.email {
			margin-top: 1.25rem;
			margin-bottom: 1.25rem;

			@include bp(540px) {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		.fa {
			margin-right: 1rem;
			color: $light-purple;
			font-family: FontAwesome; // fallback if BFA plugin doesn't load
			vertical-align: text-bottom;
		}
	}
}