// change margin on bottom of h1 for medical template (this)
.clinic-template-default {
	.post-template-wide h1.add-mb {
		margin-bottom: 2rem;
		@include bp(sm) { margin-bottom: 3rem; }
	}

	.no-mb { margin-bottom: 0; }

	// reset widths from utilities default template
	h2, h3, h4, h5, h6,
	ul, ol, p, .wp-block-image {
		max-width: 62.5rem;
	}
}

// mobile only alert box
@include mq($until: 767px) {
	.clinic-mobile-alert {
		display: block;
		max-width: 25rem;
		margin: 0 auto 2.5rem;
		padding: 0.75rem;
		border-radius: 10px;
		background-color: $red;
		text-align: center;

		p, .alert-link {
			display: block;
			color: $white;
		}

		p {
			font-weight: bold;
			margin-bottom: 1rem;
			margin-top: 0;
		}

		.alert-link {
			font-size: 1rem;
			text-decoration: underline $white;
		}
	}
} // end .clinic-mobile-alert

// hide mobile only alert on tablet+
@include mq($from: 768px) { .clinic-mobile-alert { display: none; } }

// parent post styles //
.clinic-infobox {
	position: relative; // for alert
	max-width: 100%;
	margin: 0 auto 5rem;
	padding: 1.5rem 1.25rem;
	background-color: $facet-grey;
	border-radius: 9px;
	@include bp(410px) { padding: 1.5rem 2.25rem; }
	@include bp(sm) { padding: 2.5rem 2.25rem; }
	@include bp(1142px) { padding: 2.5rem 6.25rem; }

	// conditional alert (tablet+)
	@include mq($until: 767px) { &__alert { display: none; } }
	@include mq($from: 768px) {
		&__alert {
			display: block;
			position: absolute;
			top: -1.5rem;
			left: 4rem;
			max-width: 40rem;
			padding: 0.5rem 1rem;
			background-color: $red;
			border-radius: 10px;

			p, .alert-link {
				display: inline-block;
				color: $white;
			}

			p {
				font-weight: bold;
				margin-bottom: 0;
				margin-right: 2rem;
			}

			a.alert-link {
				font-size: 1rem;
				&:hover { text-decoration: underline $white;}
			}
		} // end .clinic-infobox__alert
	}

	// main box content
	&__content {

		// flex container for inner items
		.content-container {
			display: flex;
			max-width: 60rem;
			margin: 0 auto 2rem;
			padding-bottom: 2rem;
			flex-direction: column;
			justify-content: left;
			border-bottom: 1px solid $purple;

			@include bp(sm) {
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
			}

			h4 {
				font-family: $font-body;
				color: $light-black;
			}
		}

		// inside cotainer above (reduced nesting)
		.clinic-hour-list {
			max-width: 100%;
			width: 18.5rem;
			margin-right: 2rem;

			.open-close-msg {
				font-size: 1.125rem;
				margin-left: 0.75rem;
			}

			// override for 16px size in plugin shortcode
			.mb-bhi-oc-text { font-size: 1.125rem; }

			// individual entries (full row)
			.time-box {
				max-width: 100%;
				width: 17.5rem;
				margin-bottom: 0.25rem;
				padding: 0.15rem 0;
				border-bottom: 1px solid #E4E4E4;

				span:not(.divider) {
					display: inline-block;
					width: 6rem;
					margin-right: 0.5rem;
					font-size: 1.125rem;
					color: $light-black;

					&:last-child { margin-right: 0; }
				}

				.divider {
					margin-right: 0.75rem;
					color: #E4E4E4;
				}
			} // end .time-box
		} // end .clinic-hour-list

		.child-post-list {
			margin-top: 2rem;
			@include bp(sm) { margin-top: 0; }

			.child-post-grid {
				display: grid;
				max-width: 25.75rem;
				grid-template-columns: repeat(auto-fill, 8rem);
				column-gap: 1rem;
				margin: 0 auto;
				@include bp(410px) { margin: 0; }
				@include bp(600px) { max-width: 35.75rem; margin: 0 auto; }
				@include bp(sm) { grid-template-columns: repeat(auto-fill, minmax(10rem, 11.125rem)); }
				@include bp(1014px) { max-width: 36.75rem; }
			}

			.service-link-wrapper {
				border-bottom: 1px solid #E4E4E4;

				.service-link {
					display: block;
					width: 8rem;
					color: $light-black;
					padding: 0.5rem 0;
					&:hover { background-color: rgba($teal, 0.1); } // subtle color change
					@include bp(md) { width: 11.125rem; }
				}
			}
		} // end .child-post-list

		// closed message
		.closed-message {
			max-width: 60rem;
			margin: -2rem auto 2rem; // move header up to account for margin when closed
			padding: 1rem 0;
			font-family: $font-body;
			font-size: 1.125rem;
			color: $red;
			border-bottom: 1px solid $purple;

			a {
				font-family: $font-body;
				color: $red;
				&:hover { text-decoration: underline $red; }
			}
		}

		.help-buttons {
			text-align: center;
			a:first-child { margin-bottom: 1.5rem; }

			a:nth-child(3) {
				margin-top: 1.5rem;
				@include bp(xs) { margin-top: 0; }
				@include bp(600px) { margin-top: 1.5rem; }
				@include bp(810px) { margin-top: 0; }
			}

			@include mq($from: 600px) {
				text-align: left;

				a:nth-child(1), a:nth-child(2) {
					margin-right: 1.5rem;
					margin-bottom: 0;
				}
			}
		} // end .help-buttons
	} // end .clinic-infobox__wrapper

	// stethoscope image
	.svg-right { display: none; }
	@include mq($from: 860px) {
		.svg-right {
			display: block;
			position: absolute;
			max-width: 7.625rem;
			top: 5rem;
			right: -3.875rem;
		} // end .svg-right
	}

} // end .clinic-infobox

.clinic-blocks {
	max-width: 62.5rem;
	margin: 5rem auto;

	p { max-width: 100%; }
	@include bp(sm) { p { max-width: 62.5rem; }}
}

.clinic-directory {
	max-width: 100%;
	margin: 5rem auto;
	padding: 4rem 1rem;
	background-color: $off-white;

	h3 { font-style: italic; }

	&__wrapper {
		max-width: 50rem;
		margin: 0 auto;
	}

	.faculty-grid {
		display: grid;
		max-width: 50rem;
		margin: 1.5rem auto 0;
		grid-template-columns: repeat(auto-fit, 8.625rem);
		column-gap: 4.125rem;
		row-gap: 1.875rem;
		justify-content: center; // allows grid to shrink and stay centered

		@include bp(md) {
			justify-content: left;
		}

		img {
			display: block;
			max-width: 5rem;
			margin: 0 auto;
			border-radius: 50%;
		}

		.faculty-name {
			display: block;
			margin-top: 1rem;
			text-align: center;
			font-size: 1.125rem;
			font-weight: bold;
			color: $light-black;
		}

		span {
			display: block;
			text-align: center;
			font-size: 1.125rem;
			font-weight: normal;
			color: $grey-three;
		}
	}

	.physician-years {
		display: flex;
		flex-direction: column;
		max-width: 50rem;
		justify-content: center;
		align-items: center;
		margin: 0 auto;

		h4 {
			font-family: $font-body;
			color: $light-black;
		}

		ul {
			width: 10rem;
			max-width: 100%;
			list-style: none;
			padding: 0;
			margin: 0 0 1rem 0;
			@include bp(480px) { margin: 0; }

			li a {
				color: $light-black;
				text-decoration-color: $mint;
				&:hover { text-decoration: $mint underline; }
			}
		}

		@include bp(540px) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}
	}

	.add-margin {
		margin-top: 3.5rem;
		margin-bottom: 1.5rem;
		text-align: center;
		@include bp(540px) { text-align: left; }
	}
} // end .clinic-directory