// basic font styles
a, p, span, address, blockquote {
	font-family: $font-body;
	font-weight: normal;
	font-style: normal;
	font-size: 1.125rem; // 18px

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1; // fallback for firefox
	-webkit-font-feature-settings: "lnum" 1; // fallback for chrome/edge/safari 
	font-feature-settings: "lnum" 1; // standard for browsers (last 5 versions as of June 1, 2020)
}

a {
	text-decoration: none;
	transition: 0.2s ease-out;

	&:hover {
		transition: 0.2s ease-out;
		text-decoration: none;
	}
}

p {
	margin-top: 0; // headers push down
	margin-bottom: 1rem;
	color: $light-black;
	line-height: 1.5;
	@include bp(sm) { margin-bottom: 1.5rem; }
}

small {
	font-family: $font-body;
	font-size: 0.875rem; // 14px
	font-style: italic;
	color: $purple;
}

time {
	display: block;
	padding-top: 0.75rem;
	font-family: $font-body;
	font-size: 0.875rem; // 14px
	color: $light-black;
}

ul, ol {
	margin-bottom: 2rem;
	font-family: $font-body;
	font-size: 1.125rem; // 18px
	color: $light-black;

	// add 10px space between items
	li { padding-bottom: 0.625rem; }
}

// heading styles
.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
	display: block;
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: $font-head;
	font-weight: bold;
	color: $purple;
	line-height: 1.3;

	// more space for WP default center class (Centered Headers)
	&.has-text-align-center { margin-bottom: 1.75rem; }
}

h1, .h1-heading {
	font-size: 2rem;
	font-style: italic;
	@include bp(xs) { font-size: 2.25rem; }
	@include bp(sm) { font-size: 2.75rem; }
	@include bp(md) { font-size: 3.75rem; } // 60px max
}

h2, .h2-heading {
	font-size: 2rem;
	@include bp(xs) { font-size: 2.25rem; }
	@include bp(sm) { font-size: 2.75rem; } // 44px max
}

h3, .h3-heading {
	font-size: 1.5rem;
	@include bp(md) { font-size: 2.25rem; } // 36px max
}

h4, .h4-heading {
	font-size: 1.25rem;
	@include bp(sm) { font-size: 1.3rem; }
	@include bp(md) { font-size: 1.5rem; } // 24px max
}

h5, .h5-heading {
	font-size: 0.9375rem;
	@include bp(sm) { font-size: 1.125rem; } // 18px max
}

h6, .h6-heading {
	font-size: 0.875rem;
	@include bp(xs) { font-size: 1rem; } // 16px max
}