.content-wrapper {
	max-width: 100%;
	margin: 0 auto;

	// force rounded edges on all images in content area
	img { border-radius: 10px; }
}

.default-container {
	background-color: transparent;
	position: relative;
	max-width: 75rem;
	margin: 0 auto;
	padding: 1rem;
	z-index: 20;

	// base links for default pages
	p a:not(.plain-link), a:not(.plain-link) {
		color: $purple;
		font-size: 0.875rem; // 14px
		font-weight: bold;
		text-decoration: none;
		&:hover { text-decoration: underline;}
	}
}

// base link styles
.plain-link {
	color: $teal;
	font-size: 1.125rem; // 14px
	font-weight: bold;
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

// remove excerpt/preview read-more link
a.read-more { display: none; }

.post-template-wide {
	max-width: 77rem;
	margin: 0 auto;
	padding: 0 1rem;

	h1 {
		max-width: 44rem;
		margin: 0 auto 2.5rem;
		text-align: center;

		&:not(.default-title) {
			max-width: 23rem;

			@include bp(sm) {
				max-width: 43.875rem;
				margin: unset;
				text-align: left;
			}
		}
	}

	> .block-content {
		max-width: 62.5rem;
		margin: 0 auto;
	}

	h2, h3, h4, h5, h6 {
		margin: 0 auto;
	}

	p {
		margin: 0.3rem auto 1.8rem;
		font-size: 1.125rem;

		a {
			color: $teal;
			font-size: 1.125rem; // 14px
			font-weight: bold;
			text-decoration: none;
			&:hover { text-decoration: underline; }
		}
	}

	ul, ol {
		margin: -1rem auto 1.5rem;
	}

	.wp-block-image {
		margin: 0 auto;

		.alignleft {
			float: unset;
			margin-left: 0;
		}
	}

	// add-margin-top/bottom
	.add-mtb { margin: 3.5rem auto; }

	table tbody tr td {
		strong {
			font-family: $font-head;
			font-size: 1.25rem;
			color: $purple;
			@include bp(sm) { font-size: 1.3rem; }
			@include bp(md) { font-size: 1.5rem; } // 24px max
		}

		a {
			color: $teal;
			&:hover { text-decoration: underline $teal; }
		}
	}
}

.post-template-wrapper {
	max-width: 64.5rem;
	padding: 0 1rem;
	margin: 0 auto;

	&__align-right {
		max-width: 69rem; // 68rem with 1rem for padding
		margin-right: 0;
		margin-left: auto;
	}

	&__align-center {
		@extend .post-template-wrapper;
	}

	.resource-intro {
		max-width: 49.625rem; // 794px
	}
}

// business hours pro plugin color change
// open/closed styles
.mb-bhi-open { color: $teal; }
.mb-bhi-closed { color: $grey-three; }