// standard colors
$black: #000;
$smoke: #111F2A;
$light-black: #454545;
$white: #FFF;
$off-white: #F2F3EE;
$grey-one: #8A8A8A;
$grey-two: #515151;
$grey-three: #949692;
$grey-four: #979797;
$grey-five: #D8D8D8;
$menu-grey: #D0D4CD;
$steel-grey: #959EA6;
$facet-grey: #F2F2FA;

// social icon colors
$twitter-blue: #0084FF;
$facebook-blue: #3B5998;
$google-red: #D34836;

// brand colors
$purple: #382D6A;
$light-purple: #4C3F8A;
$pale-purple: #736EB2;
$teal: #32926A;
$light-teal: #5AA787;
$red: #AA1B1B;

$mint: #62C19B;

// fonts
$font-body: 'mr-eaves-modern', sans-serif;
$font-head: 'questa-slab', serif;

// alt mq sizes
$iphone678: 375px;
$small-tablet: 400px;
$iphonex: 414px;
$tablet: 768px;
$laptop: 1023px;
$desktop: 1200px;
$tv: 2000px;

// mq mixin
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}