.editor-button-block {
	display: inline-block;
	text-align: center;
	font-size: 0.875rem;
	font-weight: bold;
	padding: 0.6rem 0.75rem;
	text-transform: uppercase;
	border-radius: 20px;
	margin-bottom: 1.5rem;
	margin-right: 1.5rem;

	// all sub-classes extend the editor button above (for swapping colors)
	&__purple-border, &__purple-solid,
	&__teal-border, &__teal-solid { @extend .editor-button-block; }

	&__purple-border {
		background-color: transparent;
		color: $purple;
		border: 1px solid $purple;

		&:hover {
			background-color: $purple;
			color: $white;
		}
	}

	&__purple-solid {
		background-color: $purple;
		color: $white;

		&:hover {
			background-color: $light-purple;
			color: $white;
		}
	}

	&__teal-border {
		background-color: transparent;
		color: $teal;
		border: 1px solid $teal;

		&:hover {
			background-color: $teal;
			color: $white;
		}
	}

	&__teal-solid {
		background-color: $teal;
		color: $white;

		&:hover {
			background-color: $light-teal;
			color: $white;
		}
	}
}