// colors for headings in the block editor
$colors:
(purple, $purple),
(grey, $light-black),
(teal, $teal);

// options
@each $name, $color in $colors {
	.has-#{$name}-color {
		color: $color;
	}

	// since we cannot disable background colors AND have text colors, we will override it
	.has-#{$name}-background-color {
		background-color: $white !important;
	}
}