.resources-grid {
	display: grid;
	max-width: 100%;
	margin-bottom: 5rem;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
	column-gap: 1.25rem;
	row-gap: 1.25rem;
	justify-content: center;

	&__post {
		position: relative;
		background-color: $off-white;
		padding: 1.375rem 1rem;
		border-radius: 5px;

		h4 {
			margin-bottom: 1.2rem;
			font-family: $font-body;
			color: $light-black;
		}

		p {
			font-size: 1.125rem;
			min-height: 4rem;
			margin-bottom: 0;

			span { font-size: 1.5rem; }
		}

		.plain-link {
			position: absolute;
			bottom: 0.75rem;
			font-size: 1.125rem;
		}
	}
}