.timeline-block {
	max-width: 62.5rem;
	margin: 0 auto;

	// both switches shared styles
	&--even, &--odd {
		position: relative;
		max-width: 50rem;
		margin-bottom: 2.5rem;
	}

	// inner content shared styles
	.content-box {
		display: flex;
		max-width: 49rem;
		width: 100%;
		padding: 1rem;
		background-color: $facet-grey;
		border-radius: 10px;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include bp(650px) {
			flex-direction: row;
			justify-content: space-between;
		}

		@include bp(930px) { padding: 2.5rem; }

		// inner content container div
		> div {
			max-width: 23rem; // 386px

			p { margin-bottom: 0; }
		}

		img {
			min-width: 16rem;
			max-width: 18rem;
			box-shadow: 0 20px 20px -10px #BBB6D4;
			@include bp(930px) { max-width: 23rem; }
		}
	}

	// pull right image out of container
	&--odd {
		margin-left: 0;
		margin-right: auto;

		.content-box img {
			margin-top: 2rem;
			@include bp(650px) { margin-top: 0; }

			@include mq($from: 930px) {
				margin-left: unset;
				margin-right: -8rem;
			}
		}
	}

	// pull left image out of the container
	&--even {
		margin-right: 0;
		margin-left: auto;

		.content-box img {
			margin-bottom: 2rem;
			@include bp(650px) { margin-bottom: 0; }

			@include mq($from: 930px) {
				margin-left: -8rem;
				margin-right: unset;
			}
		}
	}
} // end .timeline-block